body > header {
  position: sticky;
  top: 0;
  background-color: white;
  padding-bottom: 20px;
  box-shadow: 0 4px 10px 0 rgba(128, 128, 128, 0.1);
  z-index: 50;

  transition: transform 0.4s ease;

  &._scroll {
    transform: translateY(-100%);
  }

  @include tablet {
    padding: 0;
    box-shadow: none;
  }
}

.header {
  &__top {
    @include flex-between;
    padding: 17px 0px;

    gap: 30px;

    @include laptop-min {
      display: none;
    }
  }
  &__list {
    display: flex;
    gap: 25px;

    & > li {
      @include laptop-middle {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(5) {
          display: none;
        }
      }
    }

    & > li > a {
      display: flex;
      align-items: center;
      gap: 5px;

      font-size: 16px;
      line-height: 87%;
      padding: 8px 0px;

      transition: color 0.3s ease;

      @include hover {
        color: var(--primary);

        svg {
          transform: rotate(180deg);
        }
      }

      svg {
        flex-shrink: 0;
        width: 10px;
        height: 10px;
        transition: transform 0.3s ease;
      }
    }

    .dropdown-body {
      right: auto;
      left: 0;
    }
    .dropdown-inside {
      min-width: 235px;
    }
  }
  &__top-contacts {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__top-dropdown {
    &._addresses {
      @media (max-width: 1400px) {
        display: none;
      }
    }

    &._cities {
      .dropdown-body {
        min-width: 130px;
      }
      .dropdown-inside {
        width: 100%;
      }
    }
  }
  &__mob-dropdown {
    margin: 0 auto;
    @media (min-width: 1024px) {
      display: none;
    }
    @include laptop-min {
      order: 4;
    }
    &._open {
      .arrow {
        transform: rotate(180deg);
      }
    }

    .dropdown-body {
      min-width: 130px;
    }
    .dropdown-inside {
      width: 100%;
    }
  }
  &__mob-dropdown-btn {
    display: flex;
    align-items: center;
    gap: 4px;

    font-size: 16px;
    line-height: 87%;

    .icon {
      width: 20px;
      height: 23px;
      color: var(--primary);
    }
    .arrow {
      width: 10px;
      height: 10px;
      transition: transform .3s ease;
    }
  }
  &__top-contacts-btn {
    display: flex;
    align-items: center;
    cursor: pointer;

    font-size: 16px;
    line-height: 87%;

    transition: color 0.3s ease;

    @media (min-width: 1024px) {
      @include hover {
        color: var(--primary);

        .icon._top {
          transform: translateY(-3px);
        }
        .arrow {
          transform: rotate(180deg);
        }
      }
    }

    &._active {
      color: var(--primary);

      .arrow {
        transform: rotate(180deg);
      }
    }

    .icon {
      margin-right: 7px;
      width: 17px;
      height: 22px;

      color: var(--primary);
      transition: transform 0.3s ease;
    }
    .arrow {
      width: 10px;
      height: 10px;
      margin-left: 5px;

      transition: transform 0.3s ease;
    }
  }
  &__dropdown-addresses {
    min-width: 215px;
  }
  &__dropdown-item {
    font-size: 16px;
    line-height: 187%;

    .title {
      font-weight: 600;
      color: var(--primary);
    }
    .value {
      font-weight: 400;
      @include hover {
        text-decoration: underline;
      }
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    @include laptop-min {
      padding: 15px 0px;
      gap: 20px;
      row-gap: 10px;
    }
    @include tablet {
      padding: 10px 0px;
    }
  }
  &__burger-btn {
    @include flex-center;
    cursor: pointer;
    background-color: var(--primary);
    width: 48px;
    height: 48px;
    border-radius: 10px;
    color: white;

    transition: background-color 0.3s ease;

    @include hover {
      background-color: var(--primary-dark);
    }
    @media (min-width: 1024px) {
      display: none;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
  &__logo {
    display: block;
    flex-shrink: 0;
    width: 245px;

    @include laptop-middle {
      order: 2;
      width: 180px;
    }
    @include laptop-min {
      width: 135px;
    }

    picture,
    img {
      display: block;
      width: 100%;
    }
  }
  &__catalog-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--primary);
    flex-shrink: 0;
    user-select: none;

    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    color: white;

    transition: background-color 0.3s ease;

    @include hover {
      background-color: var(--primary-dark);
    }
    @include laptop-middle {
      order: 1;
    }
    @include laptop-min {
      display: none;
    }

    &._active {
      .lines {
        div {
          @include last(2) {
            width: 10px;
          }
        }
      }
    }

    span {
      @include tablet {
        display: none;
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }

    .lines {
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 20px;

      div {
        width: 100%;
        height: 3px;
        background-color: white;
        transition: width 0.3s ease;
      }
    }
  }
  &__search-wrapper {
    flex: 1;
    @include laptop-middle {
      order: 3;
    }
  }
  &__contacts {
    @include laptop-middle {
      order: 5;
    }
    @include tablet {
      margin-left: auto;
    }
  }
  &__tel {
    display: block;
    width: fit-content;

    font-weight: 800;
    font-size: 16px;
    line-height: 150%;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
    @include laptop-min {
      display: none;
    }
  }
  &__tel-btn {
    position: relative;
    font-size: 14px;
    line-height: 100%;
    color: var(--primary);

    z-index: 1;
    &::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 1px;
      height: 1px;
      opacity: 0;
      background-color: currentColor;
      transition: opacity 0.3s ease;
    }

    @include hover {
      &::after {
        opacity: 1;
      }
    }
    @include laptop-min {
      display: none;
    }
  }
  &__tel-mob {
    display: block;
    width: 25px;
    height: 25px;

    transition: color 0.3s ease;

    @include hover {
      color: var(--primary);
    }

    svg {
      width: 100%;
      height: 100%;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }
  &__cart {
    display: flex;
    align-items: center;
    gap: 15px;

    font-weight: 600;
    font-size: 16px;

    transition: color 0.3s ease;

    @include hover {
      color: var(--primary);
    }
    @include laptop-middle {
      order: 6;
    }

    .gallery {
      position: relative;
      width: 30px;
      height: 30px;

      .num {
        @include flex-center;
        position: absolute;
        top: -6px;
        right: -8px;
        width: 22px;
        height: 22px;
        background-color: var(--primary);
        border-radius: 50%;

        color: white;
        font-size: 12px;
        line-height: 183%;
        font-weight: 300;

        z-index: 10;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }

    span {
      @include laptop-middle {
        display: none;
      }
    }
  }
  &__cities {
    @include laptop-min {
      order: 3;
    }
  }
}
.header-search {
  position: relative;
  z-index: 10;
  padding-bottom: 10px;
  box-shadow: 0 4px 10px 0 rgba(128, 128, 128, 0.1);
  @media (min-width: 768px) {
    display: none;
  }
}
