.intro-single {
  position: relative;
  overflow: hidden;
  min-height: 385px;
  padding: 56px 0px;
  z-index: 1;

  @include tablet-min {
    padding: 40px 0px 0px 0px;
  }
  @include laptop-min {
    &::before {
      position: absolute;
      content: "";
      inset: 0 0px 140px 0px;
      background-color: #fff3ec;
      z-index: -1;
    }
  }

  .breadcrumbs {
    margin-top: 0 !important;
    @include tablet {
      margin-bottom: 30px !important;
    }
  }
  &__bg {
    position: absolute;
    display: block;
    max-width: none;
    pointer-events: none;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    min-height: 100%;
    z-index: -1;
    @include laptop-min {
      display: none;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    @include laptop-min {
      flex-wrap: wrap;
    }
  }
  &__info {
    flex: 0 0 735px;

    &._big {
      flex-basis: 865px;
    }

    @include laptop-middle {
      flex-basis: 600px !important;
    }
    @include laptop-min {
      flex: none !important;
      width: 100%;
    }
  }
  &__title {
    margin-bottom: 30px;
  }
  &__content {
    margin: 0px 0px 40px 0px;
    @include laptop-min {
      margin-bottom: 20px;
    }
    @include tablet-min {
      font-size: 12px;
    }
  }
  &__list {
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    row-gap: 20px;
    @include laptop-min {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    &._cols {
      @media (min-width: 1365px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    &._full {
      max-width: none;
    }

    li {
      display: flex;
      align-items: center;
      gap: 6px;

      font-size: 20px;

      @include laptop-min {
        font-size: 18px;
      }
      @include tablet-min {
        font-size: 12px;
      }

      &::before {
        content: "";
        width: 14px;
        height: 14px;
        flex-shrink: 0;

        background: url("@img/figure.svg") center / 100% auto no-repeat;
      }
    }
  }
  &__btn {
    min-width: 225px;
    max-width: 100%;
    margin-top: 40px;
    @include laptop-min {
      margin-top: 30px;
    }
    @include tablet-min {
      width: 100%;
    }
  }
  &__gallery {
    flex: 1;
    &._jobs {
      @media (min-width: 1200px) {
        position: absolute;
        bottom: 0;
        right: calc(((100vw - 1560px) / 2) + 30px);
        z-index: -1;
      }
    }
  }
  &__img {
    display: block;
    margin: 0 auto;
    @include laptop-min {
      max-width: calc(100% - 40px);
    }
  }
}
