.section-switcher {
  overflow: hidden;
  &__tab-wrapper {
    position: relative;
    @media (min-width: 768px) {
      position: relative;
      display: flex;
      align-items: center;
    }
  }
  &__slider-btn {
    cursor: pointer;
    display: block;
    width: 15px;
    height: 30px;
    flex-shrink: 0;

    color: var(--primary);

    transition:
      color 0.3s ease,
      opacity 0.3s ease;
    @include hover {
      opacity: 0.8;
    }

    &._prev {
      left: -15px;
    }
    &._next {
      right: -15px;
    }
    @include laptop-middle {
      &._prev {
        left: 0px;
      }
      &._next {
        right: 0px;
      }
    }
    @include laptop-min {
      &._prev {
        left: -15px;
      }
      &._next {
        right: -15px;
      }
    }

    @media (min-width: 768px) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    @include tablet {
      display: none;
    }

    &.swiper-button-disabled {
      color: var(--dark);
      pointer-events: none;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__slider {
    margin: 0 20px;
    @include laptop-middle {
      margin: 0 35px;
    }
    @include laptop-min {
      margin: 0px 10px;
    }
    @include tablet {
      margin: 0;
      overflow: visible !important;
    }
  }
  &__slide {
    box-sizing: border-box;
    height: auto !important;

    .card-product {
      height: 100%;
    }
  }
}
