.section-shop {
  @include laptop-min {
    overflow: hidden;
  }
  &__head {
    display: flex;
    align-items: start;
    gap: 35px;
    @include laptop-min {
    }
  }
  &__info-search {
    width: 295px;
    flex-shrink: 0;

    font-size: 16px;
    color: var(--dusty);

    @include laptop-min {
      display: none;
    }
  }
  &__head-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    row-gap: 20px;
    @include laptop-min {
      padding: 0 30px;
      margin: 0 -30px;
      overflow-x: auto;
      flex-wrap: nowrap;
    }
    @include tablet {
      padding: 0 20px;
      margin: 0 -20px;
    }

    a {
      display: block;
      font-size: 16px;
      border-bottom: 1px dashed var(--dusty);

      transition:
        color 0.3s ease,
        border-color 0.3s ease;

      @include hover {
        border-color: transparent;
        color: var(--primary);
      }
    }
  }
  &__wrapper {
    display: flex;
    align-items: start;
    gap: 35px;
    margin-top: 40px;

    @include laptop-min {
      flex-direction: column-reverse;
      margin-top: 30px;
    }
  }
  &__sidebar {
    position: sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 295px;
    flex-shrink: 0;

    @include laptop-min {
      width: 100%;
    }
  }
  &__block {
    width: 100%;
  }
  &__filters-overlay {
    position: fixed;
    inset: 0;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    z-index: 90;

    transition:
      opacity 0.4s ease,
      visibility 0.4s ease;

    &._active {
      opacity: 0.5;
      visibility: visible;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }
  &__filters {
    @include laptop-min {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: white;
      width: 320px;
      max-width: 100%;
      overflow-y: auto;
      z-index: 100;

      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;

      transition:
        opacity 0.4s ease,
        visibility 0.4s ease,
        transform 0.4s ease;

      &._active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }

      .section-shop__block-body {
        border-radius: 0px 15px 15px 0px;
        border: none;
        padding-top: 55px;
      }
    }
  }
  &__block-body {
    position: relative;
    padding: 20px;
    border: 1px solid var(--alto);
    border-radius: 15px;
  }
  &__filters-close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    width: 24px;
    height: 24px;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }

    @media (min-width: 1024px) {
      display: none;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__block-head {
    @include flex-between;
    margin-bottom: 20px;

    svg {
      width: 24px;
      height: 24px;
      color: var(--primary);
      flex-shrink: 0;
    }
  }
  &__block-title {
    font-weight: 900;
    font-size: 20px;
    margin: 0;
  }
  &__filters-spollers {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__filters-item {
    padding: 10px;
    border-bottom: 1px solid var(--alto);
  }
  &__filters-spoller-btn {
    @include flex-between;
    width: 100%;
    cursor: pointer;
    padding: 15px 0px;
    background-color: transparent;
    outline: none;
    user-select: none;
    border: none;
    border-radius: 0;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }

    &._spoller-active {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      width: 10px;
      height: 10px;
      flex-shrink: 0;
      transition: transform 0.3s ease;
    }
  }
  &__price {
    @include flex-between;
    position: relative;
    padding: 6px 0px;
    border: 1px solid var(--alto);
    border-radius: 10px;
  }
  &__price-input {
    font-size: 14px;
    text-align: center;

    display: block;
    border: none;
    outline: none;
    background-color: transparent;
    width: 50%;
    padding: 10px;

    &:first-child {
      text-align: start;
    }
    &:nth-child(2) {
      text-align: end;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &__price-range {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 2px;

    background: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;

    z-index: 1;

    .noUi-connect {
      background-color: var(--primary);
    }
    .noUi-handle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--primary);
      box-shadow: none;
      border: none;
      top: -5px;
      right: -6px;
      &::before,
      &::after {
        display: none;
      }
    }
  }
  &__input-avialable {
    display: none;
    &:checked + label {
      .section-shop__avialable-switch {
        background-color: var(--primary);
        &::before {
          right: 2px;
          transform: translateX(0px);
        }
      }
    }
  }
  &__avialable-switch {
    position: relative;
    display: flex;
    align-items: center;

    width: 36px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--alto);

    transition: background-color 0.3s ease;

    &::before {
      position: absolute;
      content: "";
      display: block;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0 1px 3px 0 rgba(16, 24, 40, 0.1);
      width: 16px;
      height: 16px;
      right: calc(100% - 2px);
      transform: translateX(100%);

      z-index: 1;

      transition:
        right 0.3s ease,
        transform 0.3s ease;
    }
  }
  &__variants {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
    max-height: 170px;

    &._column {
      flex-direction: column;
      gap: 10px;
    }
  }
  &__variant-input {
    display: none;

    &:checked + label {
      &::before {
        background: url("@img/check-white.svg") center / 12px auto no-repeat;
        background-color: var(--primary);
        border-color: var(--primary);
      }
    }
  }
  &__variant-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;

    font-size: 12px;
    color: black;

    transition:
      background-color 0.3s ease,
      border-color 0.3s ease;

    &._row {
      flex-direction: row;
      gap: 12px;
    }

    &::before {
      content: "";
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      border: 1px solid var(--alto);
      border-radius: 2px;
    }
  }
  &__filters-nav {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 190px;
    max-width: 100%;
  }
  &__filters-nav-btn {
    width: 100%;
  }
  &__delivery {
    display: flex;
    align-items: start;
    gap: 15px;

    padding: 18px;
    border-radius: 15px;
    background: rgba(235, 110, 3, 0.1);
    border: 1px solid var(--primary);

    @include laptop-min {
      width: 400px;
      max-width: 100%;
    }
  }
  &__delivery-icon {
    width: 24px;
    height: 24px;
    color: var(--primary);
    flex-shrink: 0;
    @include laptop-min {
      display: none;
    }
  }
  &__delivery-body {
    flex: 1;
  }
  &__delivery-content {
    font-size: 16px;
    color: black;
    margin: 0;
  }
  &__delivery-bottom {
    @include flex-between;
    gap: 20px;

    @include laptop-min {
      margin-top: 10px;
    }

    svg {
      width: 60px;
      height: 60px;
      color: var(--primary);
      @media (min-width: 1024px) {
        display: none;
      }
    }
  }
  &__delivery-bottom-content {
    font-size: 16px;
    display: block;
    color: var(--dusty);
    margin-top: 2px;
    @include laptop-min {
      margin-top: 0;
    }
  }
  &__delivery-btn {
    display: block;
    width: fit-content;
    margin-top: 4px;

    font-size: 16px;
    text-decoration: underline;
    color: var(--primary);
    text-underline-offset: 2px;
    @include hover {
      text-decoration: none;
    }
  }
  &__sections-wrapper {
    @include laptop-min {
      display: none;
    }
  }
  &__sections {
    display: flex;
    flex-direction: column;
    gap: 5px;

    a {
      display: block;
      width: fit-content;
      font-size: 16px;

      padding: 5px 0px;

      transition: color 0.3s ease;

      @include hover {
        color: var(--primary);
      }
      &._active {
        color: var(--primary);
      }
    }
  }
  &__main {
    flex: 1;
  }
  &__main-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
    @include laptop-min {
      margin-bottom: 30px;
    }

    a {
      display: block;
      border-radius: 5px;
      padding: 5px 10px;
      background-color: var(--wild);

      font-size: 16px;

      transition:
        color 0.3s ease,
        background-color 0.3s ease;
      @include hover {
        color: white;
        background-color: var(--primary);
      }
      @include laptop-min {
        font-size: 15px;
      }
    }
  }
  &__filters-btn {
    @include flex-between;
    cursor: pointer;
    padding: 19px 15px;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 1px solid var(--primary);
    color: var(--dark);
    margin: 0px auto 20px auto;
    width: 100%;
    max-width: 500px;

    font-weight: 900;
    font-size: 18px;

    @media (min-width: 1024px) {
      display: none;
    }

    svg {
      width: 24px;
      height: 24px;
      color: var(--primary);
    }
  }
  &__main-head {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
    width: 100%;
    @include laptop-min {
      gap: 10px;
      margin-bottom: 20px;
    }
  }
  &__sort-item {
    display: flex;
    align-items: center;
    gap: 10px;

    .select {
      .select-input {
        font-size: 14px;
        padding: 13px;
      }
      .arrow {
        right: 13px;
      }
    }
  }
  &__orderby-select {
    width: 130px;

    @include laptop-min {
      width: fit-content;

      &._open {
        .select-btn {
          border-color: var(--primary);
        }
      }

      .select-btn {
        padding: 10px 15px;
        border: 1px solid var(--silver);
        width: 88px;
        border-radius: 10px;

        transition: border-color 0.3s ease;
      }
      .select-input {
        display: none;
      }
      .select-body {
        width: fit-content;
        margin-top: 5px;
        border-radius: 10px;
        border-top: 1px solid var(--primary);
      }
    }

    .icon {
      width: 23px;
      height: 23px;
      color: var(--dusty);

      @media (min-width: 1023px) {
        display: none;
      }
    }
  }
  &__sort-content {
    font-size: 14px;
    color: var(--dusty);
    @include laptop-min {
      display: none;
    }
  }
  &__number-select {
    width: 82px;

    .select-btn {
      &::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 16px;
        background-color: var(--alto);
        right: 35px;
      }
    }
  }
  &__view-nav {
    display: flex;
    gap: 15px;
    border-radius: 10px;
    padding: 8px 15px;
    background-color: var(--wild);
    margin-left: auto;
    @include laptop-min {
      padding: 8px 15px;
    }
  }
  &__view-btn {
    @include flex-center;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 3px;

    color: var(--primary);

    transition:
      color 0.3s ease,
      background-color 0.3s ease;
    @include hover {
      color: white;
      background-color: var(--primary);
    }
    @include tablet {
      width: 30px;
      height: 30px;
      &._list-full {
        display: none;
      }
    }

    &._active {
      color: white;
      background-color: var(--primary);
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 40px;

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
    @include laptop-middle {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
  &__navigation {
    margin-top: 35px;

    @include tablet {
      margin-top: 20px;
      .pagination {
        display: none;
      }
    }
  }
  &__btn-more {
    width: 100%;
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__bottom-item {
  }
  &__bottom-title {
  }
  &__bottom-list {
  }
}
