.section-single {
  margin-top: 50px;
  color: black;
  @include laptop-min {
    margin-top: 0;
  }
  &__wrapper {
    display: flex;
    align-items: start;
    gap: 25px;
    @include laptop-min {
      flex-wrap: wrap;
    }
  }
  &__info {
    flex: 1;
    @include laptop-min  {
      flex: none;
      width: 100%;
      order: 2;
    }
  }
  &__gallery {
    position: sticky;
    overflow: hidden;
    display: block;
    top: 20px;
    width: 355px;
    aspect-ratio: 1/1.07;
    border-radius: 16px;
    max-width: 100%;

    @include hover {
      img {
        transform: scale(1.08);
      }
    }

    @include laptop-min {
      position: static;
      width: 350px;
      margin: 20px auto;
      aspect-ratio: 1/1.05;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.3s ease;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 50px;
    @include laptop-middle {
      grid-template-columns: 1fr;
      gap: 20px;
      margin-top: 30px;
    }
    @include tablet {
      margin-top: 20px;
    }
  }
  &__grid-item {
    border-radius: 16px;
    padding: 20px;
    background-color: white;
  }
  &__grid-item-title {
    margin-bottom: 30px;
  }
  &__grid-item-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    li {
      @include flex-between;
      gap: 15px;

      font-size: 18px;
      // font-size: 20px;

      // @include laptop {
      //   font-size: 18px;
      // }
      @include tablet {
        font-size: 16px;
      }
      @include tablet {
        font-size: 15px;
      }

      span {
        &:nth-child(2) {
          font-weight: 600;
          flex-shrink: 0;

          @include tablet-min {
            font-weight: 900;
          }
        }
      }
    }
  }
  &__nav {
    position: sticky;
    width: 355px;
    flex-shrink: 0;
    top: 20px;
    padding: 20px;
    border: 1px solid var(--alto);
    border-radius: 15px;

    @include laptop-min  {
      position: static;
      order: 1;
      margin: 0 auto;
      width: 400px;
      max-width: 100%;
    }
  }
  &__nav-title {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    a {
      font-size: 16px;
      transition: color .3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
}
