.section-cart {
  &__title {
    margin-bottom: 30px;
  }
  &__warn {
    @include flex-between;

    border-radius: 20px;
    padding: 20px 40px;
    background-color: white;

    gap: 25px;
    margin-bottom: 30px;
    width: 1090px;
    max-width: 100%;

    transition: background-color 0.3s ease;

    @include tablet {
      margin: 50px 0px;
      padding: 20px;
    }

    @include hover {
      background-color: var(--red-light);
    }

    .tag {
      font-size: 12px;
      padding: 4px 8px;
    }
  }
  &__warn-content {
    font-size: 16px;
    margin: 0;

    @include tablet-min {
      font-size: 10px;
    }

    span {
      color: var(--dusty);
      @include tablet {
        display: block;
      }
    }
  }
  &__wrapper {
    display: flex;
    align-items: start;
    gap: 30px;
  }
  &__main {
    flex: 1;
    overflow: hidden;
  }
  &__head {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    @include tablet {
      margin-bottom: 15px;
    }
  }
  &__head-main {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    @include tablet {
      justify-content: space-between;
    }
  }
  &__delete-all {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    outline: none;
    padding: 0;
    border: none;
    gap: 10px;

    font-size: 16px;
    line-height: 87%;
    color: var(--dusty);

    transition: color 0.3s ease;

    @include hover {
      color: var(--primary);
    }
    @include tablet {
      font-size: 15px;
    }

    svg {
      width: 16px;
      height: 16px;
    }
    span {
      &:nth-child(2) {
        @include tablet-min {
          display: none;
        }
      }
      &:nth-child(3) {
        @media (min-width: 576px) {
          display: none;
        }
      }
    }
  }
  &__head-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 40px;
    width: 335px;
    flex-shrink: 0;
    @include tablet {
      display: none;
    }
  }
  &__head-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 16px;
    line-height: 87%;

    transition: color 0.3s ease;

    @include hover {
      color: var(--primary);
    }

    svg {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      color: var(--primary);
    }
  }
  &__sidebar {
    position: sticky;
    top: 150px;
    width: 355px;
    @include laptop-min {
      top: 120px;
    }
    @include tablet {
      position: static;
      width: 100%;
    }
  }
  &__sidebar-block {
    padding: 40px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 100%;
    background: #fff;
    @include tablet {
      padding: 40px 20px;
    }
  }
  &__sidebar-title {
    margin-bottom: 20px;
  }
  &__sidebar-items {
    border-top: 1px dashed var(--alto);
  }
  &__item {
    padding: 20px 0px;
    border-bottom: 1px dashed var(--alto);
  }
  &__info-order {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 20px;

    span {
      display: flex;
      align-items: center;
      gap: 10px;
      &:not(:last-child) {
        &::after {
          display: block;
          content: "";
          width: 5px;
          height: 5px;
          flex-shrink: 0;
          background-color: var(--alto);
          border-radius: 50%;
        }
      }
    }
  }
  &__sum-order {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 900;
    font-size: 24px;

    span {
      color: var(--primary);
    }

    @include tablet {
      font-size: 18px;
    }
  }
  &__sidebar-btn {
    width: 100%;
    margin-top: 30px;
  }
  &__sidebar-content {
    margin-top: 30px;
    font-size: 15px;
    color: var(--dusty);

    p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    a {
      text-decoration: underline;
      text-underline-offset: 3px;

      transition: color 0.3s ease;

      @include hover {
        color: var(--primary);
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    gap: 80px;
    @include laptop-middle {
      margin-top: 50px;
    }
    @include tablet-min {
      margin-top: 40px;
      gap: 40px;
    }
  }
  &__info-block {
    padding: 40px;
    background-color: white;
    border-radius: 10px;

    @include laptop-min {
      background-color: transparent;
      padding: 0;
    }
  }
  &__info-switcher-nav {
    @media (min-width: 1024px) {
      justify-content: start;
    }
    @include tablet-min {
      gap: 10px;
    }
    .switcher__nav-btn {
      span {
        &:nth-child(1) {
          @include laptop-min {
            display: none;
          }
        }
        &:nth-child(2) {
          @media (min-width: 1024px) {
            display: none;
          }
        }
      }
    }
  }
  &__form-person {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    @include laptop {
      gap: 20px;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }

    .input-control {
      &:last-child {
        grid-column: 3 span;
        @include tablet {
          grid-column: 2 span;
        }
        @include tablet-min {
          grid-column: 1 span;
        }
      }
    }
  }
  &__form-pickup {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    @include laptop {
      gap: 20px;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }
  }
  &__download-scheme {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    margin-left: auto;

    font-size: 16px;

    transition: color 0.3s ease;

    @include hover {
      color: var(--primary);
    }

    @include tablet {
      margin: 0;
    }
    @include tablet-min {
      margin: 0 auto;
    }

    img {
      display: block;
      flex-shrink: 0;
      width: 20px;
    }
  }
  &__map {
    height: 440px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 40px;
  }
  &__bottom-btn {
    width: 100%;
    @media (min-width: 1024px) {
      display: none;
    }
  }
  &__quick-cart-wrapper {
    margin-top: 80px;
    @include tablet {
      margin-top: 50px;
    }
    @include tablet-min {
      display: none;
    }
  }
}
