.section-recommendation {
  overflow: hidden;
  &__slider-wrapper {
    @media (min-width: 1540px) {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .slider-btn {
      @include desktop {
        display: none;
      }
    }
  }
  &__slider {
    @include desktop {
      overflow: visible !important;
    }
  }
  &__slide {
    box-sizing: border-box;
    @include desktop {
      width: 275px !important;
    }
    @include tablet {
      // width: 155px !important;
    }
  }
}
