.section-encyclopedia {
  overflow: hidden;
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
    @include laptop-min {
      margin-bottom: 30px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 15px;
    @include tablet {
      gap: 20px;
      row-gap: 10px;
    }
  }
  &__info-item {
    display: flex;
    align-items: center;
    gap: 6px;

    font-size: 16px;
    line-height: 112%;

    svg {
      width: 20px;
      height: 20px;
    }
  }
  &__grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    @include laptop-min {
      gap: 30px;
    }
    @include tablet {
      justify-content: center;
    }
  }
  &__item {
    @include flex-center;
    position: relative;
    width: 310px;
    aspect-ratio: 1/1;
    z-index: 1;

    @include hover {
      &::before {
        transform: rotate(180deg) scale(1.3);
      }

      img {
        filter: grayscale(0%);
        transform: scale(1.2);
        opacity: 1;
      }
    }

    @include laptop-middle {
      width: 250px;
    }
    @include laptop-min {
      width: 200px;
    }
    @include tablet {
      width: 150px;
    }
    @include tablet-min {
      width: 85px;
    }

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      background: url("@img/figure.png") center / 100% no-repeat;
      transform: rotate(45deg);
      z-index: -1;

      transition: transform 0.4s ease;

      // @include tablet {
      //   transform: rotate(45deg) !important;
      // }
    }

    img {
      display: block;
      filter: grayscale(100%);
      opacity: 0.3;
      max-width: 60px;

      transition:
        filter 0.4s ease,
        transform 0.4s ease,
        opacity 0.4s ease;

      @include tablet {
        width: 30px;
      }
      @include tablet-min {
        width: 20px;
      }
    }
  }
  &__search {
    margin-top: 75px;
    @include laptop-middle {
      margin-top: 50px;
    }
    @include laptop-min {
      margin-top: 30px;
    }
  }
  &__search-content {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 50px;
    @include laptop-middle {
      font-size: 20px;
      margin-bottom: 30px;
    }
    @include laptop-min {
      font-size: 18px;
      margin-bottom: 20px;
    }
    @include tablet {
      font-size: 16px;
    }
  }
  &__table-wrapper {
    overflow-x: auto;
    @include laptop-min {
      margin:  0px -30px;
      padding-left: 30px;
      padding: 0px 10px 0px 30px;
    }
    @include tablet {
      padding-left: 20px;
      padding: 0px 10px 0px 20px;
      margin:  0px -20px;
    }
  }
  &__table {
    margin-top: 50px;
    width: 100%;
    min-width: 920px;
    @include laptop-min {
      margin-top: 30px;
    }
    @include tablet {
      min-width: 780px;
      padding-right: 20px;
    }
    @include tablet-min {
      min-width: 670px;
      padding-right: 10px;
    }

    &.table-info {
      .cell {
        flex: 1 !important;
        text-align: start !important;

        a {
          color: var(--black);
          text-decoration: underline !important;

          transition: color 0.3s ease;

          @include hover {
            color: var(--primary);
          }
        }
      }
    }

    thead {
      display: block;
      padding-bottom: 20px;
      border-bottom: 1px solid var(--alto);
      margin-bottom: 60px;
      @include laptop {
        margin-bottom: 40px;
      }
      @include laptop-min {
        margin-bottom: 25px;
      }
      @include tablet {
        margin-bottom: 15px;
        padding-bottom: 10px;
      }
    }
    tbody {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include tablet {
        gap: 10px;
      }
    }
    tr {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    .cell {
      display: block;
      padding: 0;
      flex: 1;

      font-size: 16px;
      line-height: 120%;

      &:nth-child(2) {
        flex-basis: 15%;
      }
      &:not(:nth-child(2)) {
        text-align: center;
      }

      @include tablet {
        font-size: 14px;
      }
    }
    th.cell {
      font-weight: 900;
      text-align: start;
    }

    .gallery {
      @include flex-center;
      padding: 10px;
      border-radius: 16px;
      width: 100%;
      max-width: 230px;
      height: 100px;
      background-color: white;

      @include tablet {
        height: 60px;
      }
    }

    a {
      color: var(--primary);
      text-decoration: underline;
      text-underline-offset: 3px;

      @include hover {
        text-decoration: none;
      }
    }
  }
  &__content {
    max-width: 1190px;
    margin-top: 80px;
    @include laptop {
      margin-top: 60px;
    }
    @include laptop-middle {
      margin-top: 40px;
    }
    @include laptop-min {
      margin-top: 30px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    @include laptop-min {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__main-content {
    flex: 0 1 990px;
    @include laptop-min {
      flex: none;
      width: 100%;
    }

    ul {
      padding: 0;
      list-style: none;

      li {
        display: flex;
        align-items: start;
        gap: 10px;
        line-height: 140%;

        &::before {
          content: "";
          flex-shrink: 0;
          width: 12px;
          height: 12px;
          margin-top: 8px;

          background: url("@img/figure.svg") center / 100% auto no-repeat;
          @include tablet {
            margin-top: 6px;
          }
        }
      }
    }
  }
  &__img {
    display: block;
  }
  &__single {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    @include laptop-min {
      flex-wrap: wrap;
    }
  }
  &__single-content {
    flex: 0 1 990px;
    @include laptop-min {
      flex: none;
      width: 100%;
    }
  }
  &__single-gallery {
    width: 350px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include laptop-min {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }
  &__single-gallery-item {
    @include flex-center;
    width: 100%;
    padding: 15px;
    border-radius: 16px;
    background-color: white;
    @include laptop-min {
      aspect-ratio: 1/1;
    }

    &:first-child {
      aspect-ratio: 1/1;
    }
  }
  &__sizes-table {
    margin-top: 60px;
    @include laptop {
      margin-top: 40px;
    }
    @include laptop-min {
      margin-top: 30px;
    }
  }
  &__sizes-title {
    margin-bottom: 60px;
    @include laptop {
      margin-bottom: 40px;
    }
    @include laptop-min {
      margin-bottom: 25px;
    }
  }
  &__sizes-table-wrapper {
    @include laptop-min {
      overflow-x: auto;
      margin: 0 -30px;
      padding: 0 30px;
    }
    table {
      border: 1px solid var(--alto);
      display: block;
    }
    thead {
      display: block;
      border-bottom: 1px solid var(--alto);
    }
    tbody {
      display: block;
    }
    tr {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(10, 1fr);

      transition:
        background-color 0.3s ease,
        color 0.3s ease;
      @include hover {
        color: white;
        background-color: #ffad28;
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--alto);
      }
    }
    th {
      font-weight: 400;
    }
    th,
    td {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 60px;
      flex: 1;
      padding: 5px;
      border: none;

      text-align: center;
      font-size: 16px;

      &:not(:last-child) {
        border-right: 1px solid var(--alto);
      }

      &[colspan="9"] {
        grid-column: 9 span;
      }
      &[colspan="8"] {
        grid-column: 8 span;
      }
      &[colspan="7"] {
        grid-column: 7 span;
      }
      &[colspan="6"] {
        grid-column: 6 span;
      }
      &[colspan="5"] {
        grid-column: 5 span;
      }
      &[colspan="4"] {
        grid-column: 4 span;
      }
      &[colspan="3"] {
        grid-column: 3 span;
      }
      &[colspan="2"] {
        grid-column: 2 span;
      }
    }
  }
}
