.section-fasteners {
  overflow: hidden;
  &__slider {
    overflow: visible !important;
    @media (min-width: 1024px) {
      padding: 10px 0px;
    }
  }
  &__slider-wrapper {
    overflow: visible !important;
    @media (min-width: 1199px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
    }
    
    .swiper-slide {
      box-sizing: border-box;
      @include laptop-middle {
        width: 390px !important;
      }
      @include tablet {
        width: 265px !important;
      }
    }
  }
}
