.section-certificates {
  overflow: hidden;
  &__btn {
    @include tablet-min {
      display: none;
    }
  }
  &__slider {
    @include laptop-middle {
      overflow: visible !important;
    }
  }
  &__slide {
    display: block;
    overflow: hidden;
    outline: none;

    filter: grayscale(100%);
    aspect-ratio: 1/1.41;
    border-radius: 20px;

    transition: filter .3s ease;

    @include hover {
      filter: grayscale(0%);
    }
    @include laptop-middle {
      width: 285px !important;
    }
    @include tablet-min {
      border-radius: 5px;
      width: 125px !important;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}