.section-notfound {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .quick-cart {
      margin-top: 50px;
      @include tablet {
        margin-top: 30px;
      }
    }
  }
  &__img {
    display: block;
    width: 600px;
    height: 420px;
    object-fit: contain;
    @include tablet-min {
      height: 285px;
    }
    @include mobile {
      height: 230px;
    }
  }
  &__content {
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    margin: 15px 0px 0px 0px;

    @include laptop-middle {
      font-size: 32px;
    }
    @include laptop-min {
      font-size: 28px;
    }
    @include tablet {
      font-size: 24px;
    }
    @include tablet-min {
      font-size: 20px;
    }

    a {
      color: var(--primary);
      text-decoration: underline;
      text-underline-offset: 10px;

      @include laptop-min {
        text-underline-offset: 5px;
      }

      @include hover {
        text-decoration: none;
      }
    }
  }
  &__btn {
    min-width: 225px;
    margin: 50px auto 0px auto;
    @include laptop-middle {
      margin-top: 30px;
    }
  }
}
