.section-delivery {
  overflow: hidden;
  @include tablet {
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    padding-bottom: 55px;
  }
  &__head-btn {
    @include tablet-min {
      display: none;
    }
  }
  &__wrapper {
    position: relative;
    z-index: 1;
    @include tablet {
      position: static;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 610px;

    @include laptop-min {
      max-width: 450px;
    }

    li {
      display: flex;
      align-items: start;
      gap: 20px;

      // font-size: 20px;
      font-size: 18px;

      // @include laptop-min {
      //   font-size: 18px;
      // }
      @include tablet {
        font-size: 15px;
      }

      svg {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        color: var(--primary);
      }
    }
  }
  &__car {
    display: block;
    width: 520px;
    margin: 55px 0px 50px 0px;
    @include laptop-min {
      width: 300px;
    }
    @include tablet {
      display: none;
    }
  }
  &__map {
    position: absolute;
    right: -35px;
    top: -15px;
    z-index: -1;
    width: 970px;
    height: 520px;

    @include laptop {
      right: -510px;
    }
    @include laptop-min {
      right: -660px;
    }
    @include tablet {
      bottom: -100px;
      left: 40px;
      right: auto;
      top: auto;
    }
  }
  &__adv-slider {
    overflow: visible !important;

    @include tablet {
      margin-top: 240px;
    }

    .swiper-wrapper {
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        @include laptop-middle {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
  &__adv-item {
    display: flex;
    align-items: start;
    height: auto !important;
    gap: 15px;
    box-sizing: border-box;

    padding: 15px 20px;
    border-radius: 15px;
    background-color: var(--wild);

    font-size: 16px;

    @include tablet {
      font-size: 15px;
      padding: 15px;
      width: fit-content;
      max-width: 100%;
      gap: 10px;

      font-size: 15px;
    }

    .icon {
      display: block;
      width: 24px;
      flex-shrink: 0;
    }

    p {
      margin: 0;
    }
    strong {
      display: block;
      font-weight: 800;
      @include tablet {
        line-height: 130%;
      }
    }
  }
}
