.section-search {
  &__title {
    margin-bottom: 50px;
    font-weight: 700;

    @include tablet {
      margin-bottom: 30px;
    }
  
    span {
      color: var(--primary);
    }
  }
  &__info-search {
    font-size: 16px;
    margin-bottom: 20px;

    span {
      color: var(--primary);
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-bottom: 50px;
    @include desktop {
      grid-template-columns: repeat(5, 1fr);
    }
    @include laptop {
      grid-template-columns: repeat(4, 1fr);
    }
    @include laptop-min {
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 30px;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}
