.section-shipping {
  overflow: hidden;
  &__nav {
    margin-bottom: 45px;
    @include laptop-min {
      margin-bottom: 30px;
    }
    @include tablet {
      margin-bottom: 25px;
    }
  }
  &__head {
    position: relative;
    border-radius: 16px;
    padding: 40px;
    background-color: var(--primary-light);
    z-index: 1;
    @include tablet {
      padding: 25px;
    }
    @include tablet-min {
      padding: 25px 15px;
    }
  }
  &__head-body {
    max-width: 710px;
    @include laptop {
      max-width: 600px;
    }
    @include laptop-min {
      max-width: none;
    }
  }
  &__head-content {
    max-width: 670px;
    margin: 20px 0px 0px 0px;
  }
  &__head-img {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    z-index: -1;
    @include desktop {
      width: 600px;
    }
    @include laptop {
      width: 450px;
    }
    @include laptop-min {
      position: static;
      margin: 20px auto 0 auto;
      width: 600px;
    }
  }
  &__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    margin-top: 45px;
    @include laptop-min {
      flex-wrap: wrap;
    }
    @include tablet {
      margin-top: 25px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 1 735px;
    @include laptop-min {
      flex: none;
      width: 100%;
    }

    li {
      display: flex;
      align-items: start;
      gap: 20px;

      // font-size: 20px;
      font-size: 18px;
      line-height: 120%;

      @include tablet {
        font-size: 16px;
        gap: 10px;
      }

      svg {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        color: var(--primary);
        margin-top: 3px;
      }
    }
  }
  &__attention {
    flex: 0 1 675px;
    border-radius: 16px;
    padding: 30px;
    background-color: var(--primary);
    color: white;

    @include laptop-min {
      flex: none;
      width: 100%;
    }
    @include tablet {
      padding: 25px;
    }
    @include tablet-min {
      padding: 25px 15px;
    }
  }
  &__attention-head {
    @include flex-between;
    gap: 20px;
    margin-bottom: 10px;

    svg {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      @include tablet {
        width: 30px;
        height: 30px;
      }
    }
  }
  &__attention-content {
    margin: 0;
  }
  &__block {
    margin: 80px 0px;
    &:last-child {
      margin-bottom: 0 !important;
    }

    @include laptop-middle {
      margin: 60px 0px;
    }
    @include laptop-min {
      margin: 40px 0px;
    }
    @include tablet-min {
      margin: 30px 0px;
    }
  }
  &__block-head {
    margin-bottom: 50px;
    @include laptop-min {
      margin-bottom: 30px;
    }
  }
  &__map {
    width: 100%;
    height: 620px;
    border-radius: 15px;
    overflow: hidden;
    @include laptop-middle {
      height: 500px;
    }
    @include laptop-min {
      height: 400px;
    }
    @include tablet-min {
      height: 350px;
    }
  }
  &__grid {
    display: flex;
    gap: 25px;
    @include laptop-min {
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  &__grid-item {
    border-radius: 16px;
    padding: 40px;
    background-color: var(--primary-light);
    flex: 1;

    &:first-child {
      flex: 0 1 55%;
    }

    @include laptop-middle {
      padding: 30px;
    }
    @include laptop-min {
      padding: 25px;
      flex: none !important;
      width: 100% !important;
    }
    @include tablet-min {
      padding: 20px 15px;
    }
  }
  &__grid-item-head {
    @include flex-between;
    gap: 10px;
    margin-bottom: 20px;

    svg {
      width: 40px;
      height: 40px;
      color: var(--primary);
      flex-shrink: 0;

      @include tablet {
        width: 30px;
        height: 30px;
      }
    }
  }
  &__grid-item-title {
  }
  &__grid-item-content {
    margin: 0;
  }
  &__logos {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 25px;
    @include laptop-middle {
      justify-content: start;
      flex-wrap: wrap;
      gap: 20px;
    }
    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }
  &__logo {
    @include flex-center;
    padding: 10px 40px;
    min-height: 85px;
    border-radius: 10px;
    background-color: var(--wild);

    transition: background-color 0.3s ease;

    @include hover {
      background-color: var(--primary-light);
    }
    @include tablet {
      padding: 7px 15px;
      min-height: 70px;
    }
  }
  &__table-wrapper {
    overflow-x: auto;

    @include laptop-min {
      padding: 0 30px;
      margin: 0 -30px;
    }
    @include tablet {
      padding: 0 20px;
      margin: 0 -20px;
    }

    table {
      display: block;

      @include laptop-min {
        min-width: 900px;
      }
      @include tablet {
        min-width: 650px;
      }

      thead {
        display: block;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--abbey);
        @include laptop-min {
          padding-bottom: 10px;
        }
        @include tablet {
          padding-bottom: 5px;
        }
      }
      tbody {
        display: block;
        tr {
          padding: 20px 0px;
          border-bottom: 1px solid var(--abbey);
          @include laptop-min {
            padding: 10px 0px;
          }
          @include tablet {
            padding: 5px 0px;
          }
        }
      }
      tr {
        display: flex;
      }
      th {
        color: var(--primary);
      }
      th,
      td {
        padding: 10px;
        flex: 1;
        flex-shrink: 0;

        font-weight: 600;
        text-align: start;
        font-size: 24px;
        line-height: 120%;

        &:first-child {
          flex: 0 1 25%;
        }

        @include laptop {
          font-size: 20px;
          padding: 5px;
        }
        @include laptop-min {
          font-size: 18px;
        }
        @include tablet {
          font-size: 16px;
        }
      }
    }
  }
  &__pickup-head {
    @include flex-between;
    gap: 30px;
    margin-bottom: 25px;
  }
  &__pickup-share {
    display: block;
    width: 18px;
    height: 18px;

    color: var(--primary);

    transition: color 0.3s ease;

    @include hover {
      color: var(--black);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__pickup-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    @include laptop-min {
      grid-template-columns: 1fr;
    }
  }
  &__pickup-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    @include tablet {
      gap: 20px;
    }
  }
  &__pickup-item {
    a {
      transition: color 0.3s ease;

      @include hover {
        color: var(--primary);
      }
    }
  }
  &__pickup-item-title {
    margin-bottom: 25px;
    @include tablet {
      margin-bottom: 20px;
    }
  }
  &__pickup-content {
    // font-size: 20px;
    font-size: 18px;
    margin: 0;
    // @include tablet {
    //   font-size: 18px;
    // }
    @include tablet-min {
      font-size: 15px;
    }
  }
  &__pickup-download {
    display: flex;
    align-items: center;
    gap: 5px;
    a {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 25px;
      text-decoration: underline;
      @include tablet {
        font-size: 20px;
      }
      @include tablet-min {
        font-size: 18px;
      }
    }
  }
  &__pickup-gallery {
    display: block;

    transition: opacity 0.3s ease;

    @include hover {
      opacity: 0.8;
    }
    @include laptop-min {
      max-width: 700px;
      width: 100%;
      margin: 0 auto;
    }

    img {
      display: block;
      width: 100%;
      border-radius: 16px;
    }
  }
  &__pickup-descr {
    font-size: 25px;

    @include laptop-middle {
      font-size: 20px;
    }
    @include laptop-min {
      font-size: 18px;
    }
    @include tablet {
      font-size: 16px;
    }

    p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 20px;

        @include tablet {
          margin-bottom: 16px;
        }
      }
    }
  }
  &__calc {
    display: flex;
    align-items: start;
    gap: 30px;

    @include laptop-min {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__calc-info {
    flex: 1;
    @include laptop-min {
      width: 100%;
      flex: none;
    }
  }
  &__calc-content {
    margin-top: 30px;
  }
  &__calc-main {
    width: 600px;

    @include laptop {
      width: 500px;
    }
    @include laptop-middle {
      width: 400px;
    }
    @include laptop-min {
      width: 100%;
      max-width: 600px;
    }

    img {
      width: 100%;
      display: block;
    }
  }
}
