:root {
  --primary: #eb6e03;
  --primary-dark: #d86a09;
  --primary-light: #fdf0e6;

  --black: #181d29;

  --red: #de5153;
  --red-light: #fcf1f1;

  --green-light: #e4fdec;
  --green: #10c44d;

  --zumthor: #e6efff;
  --serenade: #fff4e6;
  --apricot: #fffeeb;
  --givry: #f8dfc9;

  --iron: #e7e7e9;
  --athens: #f3f3f4;
  --alabaster: #fbfbfb;
  --alto: #d9d9d9;
  --dark: #3e4041;
  --gray: #808080;
  --silver: #b2b2b2;
  --wild: #f5f5f5;
  --dusty: #969696;
}
