<footer class="footer">
  <div class="footer__body">
    <div class="container">
      <div class="footer__head">
        <h2 class="section-title footer__title">
          Узнавайте о новостях и акциях первыми!
        </h2>
        <form action="#" class="footer__form">
          <input
            type="email"
            placeholder="Ваша почта"
            class="footer__form-input"
          />
          <button type="submit" class="btn footer__form-send">
            Быть в курсе новостей
          </button>
        </form>
      </div>
      <div class="footer__wrapper">
        <div class="footer__main">
          <a href="/" class="footer__logo">
            <img src="@img/logo-white.svg" alt="logo" />
          </a>
          <p class="footer__main-content">
            Оптовый поставщик метизной продукции и крепежа в России
          </p>
          <a href="#modal-order" data-fancybox class="btn footer__main-btn">
            Отправить заявку
          </a>
        </div>
        <nav data-spollers class="footer__nav">
          <div class="footer__nav-item">
            <div data-spoller class="footer__nav-title">
              <span>О компании</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </div>
            <div>
              <ul class="list footer__list">
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Оплата</a></li>
                <li><a href="#">Отзывы</a></li>
              </ul>
            </div>
          </div>
          <div class="footer__nav-item">
            <div data-spoller class="footer__nav-title">
              <span>Сотрудничество</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </div>
            <div>
              <ul class="list footer__list">
                <li><a href="#">Франчайзинг</a></li>
                <li><a href="#">Снабжение строительства</a></li>
                <li><a href="#">Строительным организациям</a></li>
                <li><a href="#">Торговым организациям</a></li>
              </ul>
            </div>
          </div>
          <div class="footer__nav-item">
            <div data-spoller class="footer__nav-title">
              <span>Полезное</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </div>
            <div>
              <ul class="list footer__list">
                <li><a href="#">Калькулятор</a></li>
                <li><a href="#">Прайс лист</a></li>
                <li><a href="#">Ответы на вопросы</a></li>
                <li><a href="#">Блог</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="footer__contacts">
          <div class="footer__contacts-item">
            <div class="footer__contacts-title">Звоните</div>
            <a href="tel:84957139139" class="footer__contacts-btn">
              8 (495) 7-139-139
            </a>
          </div>
          <div class="footer__contacts-item">
            <div class="footer__contacts-title">Пишите</div>
            <a
              href="mailto:moscow+1320725@krepco.ru"
              class="footer__contacts-btn"
            >
              moscow+1320725@krepco.ru
            </a>
          </div>
          <div class="footer__contacts-wrapper">
            <div class="footer__contacts-item">
              <div class="footer__contacts-title">Мы на связи</div>
              <div class="footer__social">
                <a href="#" target="_blank" class="footer__social-btn">
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-wh"></use>
                  </svg>
                </a>
                <a href="#" target="_blank" class="footer__social-btn">
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-tg"></use>
                  </svg>
                </a>
              </div>
            </div>
            <a
              href="#modal-order"
              data-fancybox
              class="btn footer__contacts-order"
            >
              Связаться с нами
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <div class="container">
        <div class="footer__copyright-wrapper">
          <p class="footer__copyright-content">
            Copyright © 2008-2024. Все права защищены.
            <br />
            При использовании контента или любой его части ссылка на наш сайт
            обязательна.
          </p>
          <ul class="list footer__copyright-list">
            <li>
              <a href="#">Политика конфиденциальности</a>
            </li>
            <li>
              <a href="#">Согласие на обработку персональных данных.</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
<script src="./files/swiper/swiper.min.js"></script>
