<header class="header">
  <div class="container">
    <div class="header__top">
      <ul class="list header__list">
        <li class="dropdown">
          <a href="#" class="dropdown-btn">
            <span>О компании</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </a>
          <div class="dropdown-body">
            <div class="dropdown-inside">
              <ul class="list dropdown-list">
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li><a href="#">Оплата</a></li>
        <li><a href="#">Доставка</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-btn">
            <span>Производство и услуги</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </a>
          <div class="dropdown-body">
            <div class="dropdown-inside">
              <ul class="list dropdown-list">
                <li><a href="#">Болты БСР</a></li>
                <li><a href="#">Болты для фундамента</a></li>
                <li><a href="#">Порошковая покраска</a></li>
                <li><a href="#">Закладные детали</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li><a href="#">Калькулятор</a></li>
        <li><a href="#">Блог</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
      <div class="header__top-contacts">
        <div
          data-da=".header__wrapper, 1023, 2"
          class="dropdown header__top-dropdown header__cities"
        >
          <div class="header__top-contacts-btn dropdown-btn">
            <svg class="icon">
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
            <span>Москва</span>
            <svg class="arrow">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </svg>
          </div>
          <div class="dropdown-body">
            <div class="dropdown-inside">
              <ul class="list dropdown-list">
                <li><a href="#" class="_active">Москва</a></li>
                <li><a href="#">Тверь</a></li>
                <li><a href="#">Конаково</a></li>
                <li><a href="#">Осташков</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="dropdown header__top-dropdown _addresses">
          <div class="header__top-contacts-btn dropdown-btn">
            <svg class="icon">
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
            <span>Наши адреса</span>
            <svg class="arrow">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </svg>
          </div>
          <div class="dropdown-body">
            <div class="dropdown-inside">
              <div class="header__dropdown-addresses">
                <div class="header__dropdown-item">
                  <div class="title">Офис</div>
                  <a href="#" class="value">Гостиничная, 5</a>
                </div>
                <div class="header__dropdown-item">
                  <div class="title">Склад</div>
                  <a href="#" class="value">Каширский проезд, 17/4</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="mailto:moscow50@krepco.ru" class="header__top-contacts-btn">
          <svg class="icon">
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <span>moscow50@krepco.ru</span>
        </a>
      </div>
    </div>
    <div class="header__wrapper">
      <div class="header__burger-btn" id="burger-open">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-burger"></use>
        </svg>
      </div>
      <a href="/" class="header__logo">
        <picture>
          <source srcset="@img/logo-mob.svg" media="(max-width: 1023px)" />
          <img src="@img/logo.svg" alt="logo" />
        </picture>
      </a>
      <div class="header__catalog-btn">
        <div class="lines">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <span>Каталог</span>
      </div>
      <div
        data-da=".header-search__container, 767"
        class="header__search-wrapper"
      >
        <form action="#" class="form-search">
          <button type="submit" class="form-search__btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-search"></use>
            </svg>
          </button>
          <input
            type="text"
            placeholder="Болт 933 10*50"
            class="form-search__input"
          />
        </form>
      </div>
      <div class="header__contacts">
        <a href="tel:+74957139139" class="header__tel">+7 (495) 7-139-139</a>
        <a href="#modal-call" data-fancybox class="header__tel-btn">
          Заказать звонок
        </a>
        <a href="#" class="header__tel-mob">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
        </a>
      </div>
      <a href="#" class="header__cart">
        <div class="gallery">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-cart"></use>
          </svg>
          <div class="num">0</div>
        </div>
        <span>Мой заказ</span>
      </a>
    </div>
  </div>
</header>
<div class="header-search">
  <div class="container header-search__container"></div>
</div>

<div class="drop-catalog">
  <div class="drop-catalog__menu">
    <a href="#" class="drop-catalog__menu-item">
      <img src="@img/category.svg" alt="icon" />
      <span>Метизы, крепеж</span>
    </a>
    <a href="#" class="drop-catalog__menu-item">
      <img src="@img/category.svg" alt="icon" />
      <span>Такелаж</span>
    </a>
    <a href="#" class="drop-catalog__menu-item">
      <img src="@img/category.svg" alt="icon" />
      <span>Перфорированный крепеж</span>
    </a>
    <a href="#" class="drop-catalog__menu-item">
      <img src="@img/category.svg" alt="icon" />
      <span>Комплектующие для вентиляции</span>
    </a>
    <a href="#" class="drop-catalog__menu-item">
      <img src="@img/category.svg" alt="icon" />
      <span>Метизы, крепеж</span>
    </a>
    <a href="#" class="drop-catalog__menu-item">
      <img src="@img/category.svg" alt="icon" />
      <span>Такелаж</span>
    </a>
    <a href="#" class="drop-catalog__menu-item">
      <img src="@img/category.svg" alt="icon" />
      <span>Перфорированный крепеж</span>
    </a>
    <a href="#" class="drop-catalog__menu-item">
      <img src="@img/category.svg" alt="icon" />
      <span>Комплектующие для вентиляции</span>
    </a>
    <a href="#" class="drop-catalog__menu-item">
      <img src="@img/category.svg" alt="icon" />
      <span>Метизы, крепеж</span>
    </a>
    <a href="#" class="drop-catalog__menu-item">
      <img src="@img/category.svg" alt="icon" />
      <span>Такелаж</span>
    </a>
    <a href="#" class="drop-catalog__menu-item">
      <img src="@img/category.svg" alt="icon" />
      <span>Перфорированный крепеж</span>
    </a>
    <a href="#" class="drop-catalog__menu-item">
      <img src="@img/category.svg" alt="icon" />
      <span>Комплектующие для вентиляции</span>
    </a>
    <a href="#" class="drop-catalog__menu-item">
      <img src="@img/category.svg" alt="icon" />
      <span>Метизы, крепеж</span>
    </a>
    <a href="#" class="drop-catalog__menu-item">
      <img src="@img/category.svg" alt="icon" />
      <span>Такелаж</span>
    </a>
  </div>
  <div class="drop-catalog__body _scrollbar">
    <div class="drop-catalog__body-container _scrollbar">
      <div class="drop-catalog__container drop-catalog__wrapper">
        <div class="drop-catalog__item">
          <a href="#">Анкера</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#">Полиамидный крепеж</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#">Штифты</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#">Болты</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#">Стопорные кольца</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#">Профиль для гипсокартона</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#">Винты</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#">Хомуты</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#">Заглушки</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#">Гайки</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#">Шайба</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#">Сталь шпоночная</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#">Гвозди</a>
        </div><div class="drop-catalog__item">
          <a href="#">Шпильки строительные</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#">Дюбеля и дюбель гвозди</a>
        </div><div class="drop-catalog__item">
          <a href="#">Кляймеры для вагонки</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#">Заклепки строительные</a>
        </div><div class="drop-catalog__item">
          <a href="#">Профиль алюминиевый</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#">Латунный крепеж</a>
        </div><div class="drop-catalog__item">
          <a href="#">Скоба строительная</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#">Нержавеющий крепеж</a>
        </div><div class="drop-catalog__item">
          <a href="#">Фиксаторы арматуры</a>
        </div>
        <div class="drop-catalog__item">
          <a href="#"></a>
        </div><div class="drop-catalog__item">
          <a href="#"></a>
        </div>
        <a href="#" class="drop-catalog__reklam" style="background: url('@img/drop-catalog-reklam.jpg') top 0 right 0 / cover no-repeat;">
          <div>
            <div class="drop-catalog__reklam-tag">новинки</div>
            <div class="drop-catalog__reklam-title">Подборка новинок</div>
          </div>
        </a>
      </div>
      <div class="drop-catalog__container">
        <div class="drop-catalog__tags">
          <div class="drop-catalog__tags-item">
            <div class="drop-catalog__tags-item-title">Часто спрашивают</div>
            <ul class="list drop-catalog__tags-list">
              <li><a href="#">10*100</a></li>
              <li><a href="#">с полной резьбой</a></li>
              <li><a href="#">Мебельные</a></li>
              <li><a href="#">Потайная головка</a></li>
              <li><a href="#">Фасадный крепеж</a></li>
            </ul>
          </div>
          <div class="drop-catalog__tags-item">
            <div class="drop-catalog__tags-item-title">Виды крепежа</div>
            <ul class="list drop-catalog__tags-list">
              <li><a href="#">Антивандальный</a></li>
              <li><a href="#">Рым крепеж</a></li>
              <li><a href="#">Приварной крепеж</a></li>
              <li><a href="#">Перфорированный крепеж</a></li>
              <li><a href="#">Фасадный крепеж</a></li>
              <li><a href="#">Машиностроительный крепеж</a></li>
              <li><a href="#">Рым крепеж</a></li>
              <li><a href="#">Приварной крепеж</a></li>
              <li><a href="#">Перфорированный крепеж</a></li>
              <li><a href="#">Машиностроительный крепеж</a></li>
              <li><a href="#">Антивандальный</a></li>
              <li><a href="#">Рым крепеж</a></li>
              <li><a href="#">Приварной крепеж</a></li>
              <li><a href="#">Перфорированный крепеж</a></li>
              <li><a href="#">Фасадный крепеж</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
