<section class="section-margin section-useful">
  <div class="container">
    <div class="section-head">
      <div class="section-title">Полезные статьи</div>
      <a href="#" class="btn _outline">Больше статей</a>
      <a href="#" class="btn-mob">
        <span>Все</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-next"></use>
        </svg>
      </a>
    </div>
    <div class="swiper section-useful__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide section-useful__slide">
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide section-useful__slide">
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide section-useful__slide">
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide section-useful__slide">
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide section-useful__slide">
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide section-useful__slide">
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide section-useful__slide">
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>