<section class="section-margin section-fasteners">
  <div class="container">
    <div class="swiper section-fasteners__slider">
      <div class="swiper-wrapper section-fasteners__slider-wrapper">
        <div class="swiper-slide">
          <a href="#" class="card-fasteners">
            <div class="third-title card-fasteners__title">
              Строительный крепеж
            </div>
            <div class="card-fasteners__btn">
              <span>Подробнее</span>
              <div class="circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
                </svg>
              </div>
            </div>
            <img
              src="@img/fasteners.png"
              alt="image"
              class="card-fasteners__img"
            />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-fasteners">
            <div class="third-title card-fasteners__title">Грузовой крепеж</div>
            <div class="card-fasteners__btn">
              <span>Подробнее</span>
              <div class="circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
                </svg>
              </div>
            </div>
            <img
              src="@img/fasteners.png"
              alt="image"
              class="card-fasteners__img"
            />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-fasteners">
            <div class="third-title card-fasteners__title">Мебельный крепеж</div>
            <div class="card-fasteners__btn">
              <span>Подробнее</span>
              <div class="circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
                </svg>
              </div>
            </div>
            <img
              src="@img/fasteners.png"
              alt="image"
              class="card-fasteners__img"
            />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-fasteners">
            <div class="third-title card-fasteners__title">
              Строительный крепеж
            </div>
            <div class="card-fasteners__btn">
              <span>Подробнее</span>
              <div class="circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
                </svg>
              </div>
            </div>
            <img
              src="@img/fasteners.png"
              alt="image"
              class="card-fasteners__img"
            />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-fasteners">
            <div class="third-title card-fasteners__title">Грузовой крепеж</div>
            <div class="card-fasteners__btn">
              <span>Подробнее</span>
              <div class="circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
                </svg>
              </div>
            </div>
            <img
              src="@img/fasteners.png"
              alt="image"
              class="card-fasteners__img"
            />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-fasteners">
            <div class="third-title card-fasteners__title">Мебельный крепеж</div>
            <div class="card-fasteners__btn">
              <span>Подробнее</span>
              <div class="circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
                </svg>
              </div>
            </div>
            <img
              src="@img/fasteners.png"
              alt="image"
              class="card-fasteners__img"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
