<section class="section-about">
  <div class="container">
    <h1 class="main-title section-about__title">
      Оптовые поставки крепежа со склада в Москве c доставкой по России
    </h1>
    <h2 class="section-about__subtitle section-title">Компания KREPCO.RU</h2>
    <div class="section-about__content">
      <p>
        Оптовый поставщик крепежа и метизной продукции с доставкой по России.
        KREPCO.RU является производителем и поставщиком крепежа, расходных
        материалов и инструмента.
      </p>
    </div>
    <div class="section-about__adv">
      <div class="section-about__adv-item">
        <img src="@img/about-adv-1.svg" alt="icon" class="section-about__adv-icon" />
        <h3 class="t-title section-about__adv-title">Бесплатная доставка</h3>
        <p class="section-about__adv-content">
          Бесплатная доставка по Мосвке и до ТК при заказе от 20 000 руб.
        </p>
      </div>
      <div class="section-about__adv-item">
        <img src="@img/about-adv.svg" alt="icon" class="section-about__adv-icon" />
        <h3 class="t-title section-about__adv-title">Гарантия и сертификаты</h3>
        <p class="section-about__adv-content">
          На все товары предоставляем сертификаты и всю необходимую документацию
        </p>
      </div>
      <div class="section-about__adv-item">
        <img src="@img/about-adv-3.svg" alt="icon" class="section-about__adv-icon" />
        <h3 class="t-title section-about__adv-title">Комплексный подход</h3>
        <p class="section-about__adv-content">
          Бесперебойное снабжение всем необходимым крепежом и материалами
        </p>
      </div>
      <div class="section-about__adv-item">
        <img src="@img/about-adv-4.svg" alt="icon" class="section-about__adv-icon" />
        <h3 class="t-title section-about__adv-title">Экономия и качество</h3>
        <p class="section-about__adv-content">
          Cобственный автопарк и прямые поставки — оптимальные цены без потери качества
        </p>
      </div>
    </div>
  </div>
</section>
