<section class="section-margin section-requisites">
  <div class="container">
    <div class="section-head section-requisites__head">
      <h2 class="section-title">Наши реквизиты</h2>
      <a href="@img/about-adv-3.svg" download class="btn-download">
        <img src="@img/file-icon.svg" alt="icon">
        <span>Скачать реквизиты</span>
      </a>
    </div>
    <ul class="list section-requisites__list">
      <li>
        <span>Юр. лицо:</span>
        <span>ООО “Компания Крепко”</span>
      </li>
      <li>
        <span>Юр. адрес:</span>
        <span>127106, г. Москва, ул. Гостиничная ,5, эт.2, пом. I ком.26</span>
      </li>
      <li>
        <span>Физ. адрес:</span>
        <span>Юр. адрес:</span>
      </li>
      <li>
        <span>ИНН:</span>
        <span>7715925448</span>
      </li>
      <li>
        <span>КПП:</span>
        <span>771501001</span>
      </li>
      <li>
        <span>Р/счет:</span>
        <span>40702810417000036742</span>
      </li>
      <li>
        <span>Корр/счет:</span>
        <span>30101810945250000297</span>
      </li>
      <li>
        <span>БИК:</span>
        <span>044525297</span>
      </li>
      <li>
        <span>Банк:</span>
        <span>ФИЛИАЛ ЦЕНТРАЛЬНЫЙ ПАО БАНКА "ФК ОТКРЫТИЕ" Г МОСКВА</span>
      </li>
      <li>
        <span>Директор:</span>
        <span>Волкова Наталья Николаевна</span>
      </li>
    </ul>
  </div>
</section>