<section class="section-margin section-blog">
  <div class="container">
    <div class="section-head">
      <h1 class="main-title">Блог про крепеж и не только</h1>
    </div>
    <div class="section-blog__head">
      <ul class="list section-blog__tags">
        <li><a href="#" class="btn-tag">Все статьи</a></li>
        <li><a href="#" class="btn-tag">Акции</a></li>
        <li><a href="#" class="btn-tag">Полезные статьи</a></li>
        <li><a href="#" class="btn-tag">Всё о крепеже</a></li>
        <li><a href="#" class="btn-tag">Выбираем правильно</a></li>
        <li><a href="#" class="btn-tag">Лайфхаки</a></li>
        <li><a href="#" class="btn-tag">Энциклопедия</a></li>
        <li><a href="#" class="btn-tag">Лайфхаки</a></li>
        <li><a href="#" class="btn-tag">Полезные статьи</a></li>
        <li><a href="#" class="btn-tag">Выбираем правильно</a></li>
        <li><a href="#" class="btn-tag">Всё о крепеже</a></li>
        <li><a href="#" class="btn-tag">Акции</a></li>
      </ul>
      <form action="#" class="section-blog__search-form">
        <input
          type="text"
          placeholder="Поиск  по статьям"
          class="section-blog__search-input"
        />
        <button type="submit" class="section-blog__search-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <div class="section-blog__wrapper">
      <div class="section-blog__main">
        <div class="section-blog__grid">
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card-article">
            <a href="#" class="card-article__gallery">
              <img src="@img/article.jpg" alt="image" />
            </a>
            <div class="card-article__body">
              <a href="#" class="card-article__title">
                Основные типы и особенности крепежей для гипсокартона
              </a>
              <p class="card-article__content">
                Гипсокартон на протяжении многих лет остается одним из самых
                востребованных материалов в строит...
              </p>
              <div class="card-article__bottom">
                <div class="card-article__date">17.09.2024</div>
                <div class="card-article__info">
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                    </svg>
                    <span>82</span>
                  </div>
                  <div class="card-article__info-item">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                    </svg>
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="section-blog__navigation">
          <button class="btn btn-more">Показать ещё</button>
          <div class="pagination">
            <a href="#" class="pagination-arrow">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-prev-line"></use>
              </svg>
            </a>
            <div class="pagination-item _active">1</div>
            <a href="#" class="pagination-item">2</a>
            <a href="#" class="pagination-item">3</a>
            <a href="#" class="pagination-arrow">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-next-line"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="section-blog__popular">
        <h2 class="section-title section-blog__popular-title">
          Популярное в статьях
        </h2>
        <ul class="list section-blog__popular-list">
          <li><a href="#" class="btn-tag">Гайки</a></li>
          <li><a href="#" class="btn-tag">Алмазные диски</a></li>
          <li><a href="#" class="btn-tag">Виды анкеров</a></li>
          <li><a href="#" class="btn-tag">Монтаж</a></li>
          <li><a href="#" class="btn-tag">Саморезы</a></li>
          <li><a href="#" class="btn-tag">Болты</a></li>
          <li><a href="#" class="btn-tag">Буры по бетону</a></li>
          <li><a href="#" class="btn-tag">Хорошие свёрла</a></li>
          <li><a href="#" class="btn-tag">Как использовать химию</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
