<section class="section-hero">
  <div class="container">
    <div class="swiper section-hero__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide section-hero__slide">
          <picture class="section-hero__slide-pciture">
            <source
              srcset="@img/hero-desk-mob.jpg"
              media="(max-width: 575px)"
            />
            <source
              srcset="@img/hero-desk-laptop.jpg"
              media="(max-width: 1024px)"
            />
            <img src="@img/hero-desk.jpg" alt="image" />
          </picture>
          <h2 class="section-hero__slide-title">
            Нержавеющая уверенность для вашего проекта
          </h2>
          <a href="#" class="btn-s section-hero__slide-btn">Оформить заказ</a>
        </div>
        <div class="swiper-slide section-hero__slide">
          <picture class="section-hero__slide-pciture">
            <source
              srcset="@img/hero-desk-mob.jpg"
              media="(max-width: 575px)"
            />
            <source
              srcset="@img/hero-desk-laptop.jpg"
              media="(max-width: 1024px)"
            />
            <img src="@img/hero-desk.jpg" alt="image" />
          </picture>
          <h2 class="section-hero__slide-title">
            Там, где важна
            <br />
            каждая деталь
          </h2>
          <a href="#" class="btn-s section-hero__slide-btn">Подробнее</a>
        </div>
        <div class="swiper-slide section-hero__slide">
          <picture class="section-hero__slide-pciture">
            <source
              srcset="@img/hero-desk-mob.jpg"
              media="(max-width: 575px)"
            />
            <source
              srcset="@img/hero-desk-laptop.jpg"
              media="(max-width: 1024px)"
            />
            <img src="@img/hero-desk.jpg" alt="image" />
          </picture>
          <h2 class="section-hero__slide-title">
            Нержавеющая уверенность для вашего проекта
          </h2>
          <a href="#" class="btn-s section-hero__slide-btn">Оформить заказ</a>
        </div>
        <div class="swiper-slide section-hero__slide">
          <picture class="section-hero__slide-pciture">
            <source
              srcset="@img/hero-desk-mob.jpg"
              media="(max-width: 575px)"
            />
            <source
              srcset="@img/hero-desk-laptop.jpg"
              media="(max-width: 1024px)"
            />
            <img src="@img/hero-desk.jpg" alt="image" />
          </picture>
          <h2 class="section-hero__slide-title">
            Там, где важна
            <br />
            каждая деталь
          </h2>
          <a href="#" class="btn-s section-hero__slide-btn">Подробнее</a>
        </div>
      </div>
      <div class="section-hero__slider-pagination"></div>
    </div>
  </div>
</section>
