<section class="section-catalog section-margin">
  <div class="container">
    <div class="section-head section-catalog__head">
      <h2 class="section-title">Каталог интернет&#x2011;магазина</h2>
      <a href="#" class="btn _outline section-catalog__btn">
        Перейти в каталог
      </a>
      <a href="#" class="btn-mob">
        <span>Каталог</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-next"></use>
        </svg>
      </a>
    </div>
    <div class="section-catalog__grid">
      <a href="#" class="card-category">
        <div class="card-category__title">Метизы, Крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category">
        <div class="card-category__title">Перфорированный крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category">
        <div class="card-category__title">Метизы, Крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category">
        <div class="card-category__title">Перфорированный крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category">
        <div class="card-category__title">Метизы, Крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category">
        <div class="card-category__title">Перфорированный крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category">
        <div class="card-category__title">Метизы, Крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category">
        <div class="card-category__title">Перфорированный крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category">
        <div class="card-category__title">Метизы, Крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category">
        <div class="card-category__title">Перфорированный крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category">
        <div class="card-category__title">Метизы, Крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category">
        <div class="card-category__title">Перфорированный крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category">
        <div class="card-category__title">Метизы, Крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category">
        <div class="card-category__title">Перфорированный крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category _zumthor">
        <div class="card-category__title">Метизы, Крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category _serenade">
        <div class="card-category__title">Перфорированный крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category _white">
        <div class="card-category__title">Метизы, Крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-category _apricot">
        <div class="card-category__title">Перфорированный крепеж</div>
        <div class="card-category__count">1 298 товаров</div>
        <div class="card-category__bottom">
          <img src="@img/category.png" alt="image" class="card-category__img" />
          <div class="card-category__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
            </svg>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
