<section class="section-margin section-encyclopedia">
  <div class="container">
    <div class="section-encyclopedia__head">
      <h1 class="main-title">Энциклопедия крепежа</h1>
      <div class="section-encyclopedia__info">
        <div class="section-encyclopedia__info-item">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-eye"></use>
          </svg>
          <span>357</span>
        </div>
        <div class="section-encyclopedia__info-item">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
          <span>12</span>
        </div>
      </div>
    </div>
    <div class="section-encyclopedia__grid">
      <a href="#" class="section-encyclopedia__item">
        <img src="@img/iso.svg" alt="icon" />
      </a>
      <a href="#" class="section-encyclopedia__item">
        <img src="@img/pt.svg" alt="icon" />
      </a>
      <a href="#" class="section-encyclopedia__item">
        <img src="@img/din-enc.svg" alt="icon" />
      </a>
    </div>
    <div class="section-encyclopedia__search">
      <p class="section-encyclopedia__search-content">
        Таблица поможет найти нужный стандарт DIN и его аналоги ГОСТ и ISO
      </p>
      <form action="#" class="form-search _gray">
        <input
          type="text"
          placeholder="Введите номер стандарта или название товара"
          class="form-search__input"
        />
        <button class="form-search__btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <div class="section-encyclopedia__table-wrapper">
      <table class="section-encyclopedia__table">
        <thead>
          <tr>
            <th class="cell">Схема</th>
            <th class="cell">Наименование изделия</th>
            <th class="cell">Стандарт DIN</th>
            <th class="cell">Аналог ГОСТ</th>
            <th class="cell">Аналог ISO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cell">
              <div class="gallery">
                <img src="@img/schema.jpg" alt="image" />
              </div>
            </td>
            <td class="cell">Штифт конический незакаленный</td>
            <td class="cell"><a href="#">DIN 1</a></td>
            <td class="cell"><a href="#">ГОСТ 3129-70</a></td>
            <td class="cell"><a href="#">ГОСТ 3129-70</a></td>
          </tr>
          <tr>
            <td class="cell">
              <div class="gallery">
                <img src="@img/schema.jpg" alt="image" />
              </div>
            </td>
            <td class="cell">Штифт цилиндрический незакаленный</td>
            <td class="cell"><a href="#">DIN 2</a></td>
            <td class="cell">ГОСТ 3128-70</td>
            <td class="cell">ГОСТ 3128-70</td>
          </tr>
          <tr>
            <td class="cell">
              <div class="gallery">
                <img src="@img/schema.jpg" alt="image" />
              </div>
            </td>
            <td class="cell">Штифт конический незакаленный</td>
            <td class="cell"><a href="#">DIN 1</a></td>
            <td class="cell"><a href="#">ГОСТ 3129-70</a></td>
            <td class="cell"><a href="#">ГОСТ 3129-70</a></td>
          </tr>
          <tr>
            <td class="cell">
              <div class="gallery">
                <img src="@img/schema.jpg" alt="image" />
              </div>
            </td>
            <td class="cell">Штифт цилиндрический незакаленный</td>
            <td class="cell"><a href="#">DIN 2</a></td>
            <td class="cell">ГОСТ 3128-70</td>
            <td class="cell">ГОСТ 3128-70</td>
          </tr>
          <tr>
            <td class="cell">
              <div class="gallery">
                <img src="@img/schema.jpg" alt="image" />
              </div>
            </td>
            <td class="cell">Штифт конический незакаленный</td>
            <td class="cell"><a href="#">DIN 1</a></td>
            <td class="cell"><a href="#">ГОСТ 3129-70</a></td>
            <td class="cell"><a href="#">ГОСТ 3129-70</a></td>
          </tr>
          <tr>
            <td class="cell">
              <div class="gallery">
                <img src="@img/schema.jpg" alt="image" />
              </div>
            </td>
            <td class="cell">Штифт цилиндрический незакаленный</td>
            <td class="cell"><a href="#">DIN 2</a></td>
            <td class="cell">ГОСТ 3128-70</td>
            <td class="cell">ГОСТ 3128-70</td>
          </tr>
          <tr>
            <td class="cell">
              <div class="gallery">
                <img src="@img/schema.jpg" alt="image" />
              </div>
            </td>
            <td class="cell">Штифт конический незакаленный</td>
            <td class="cell"><a href="#">DIN 1</a></td>
            <td class="cell"><a href="#">ГОСТ 3129-70</a></td>
            <td class="cell"><a href="#">ГОСТ 3129-70</a></td>
          </tr>
          <tr>
            <td class="cell">
              <div class="gallery">
                <img src="@img/schema.jpg" alt="image" />
              </div>
            </td>
            <td class="cell">Штифт цилиндрический незакаленный</td>
            <td class="cell"><a href="#">DIN 2</a></td>
            <td class="cell">ГОСТ 3128-70</td>
            <td class="cell">ГОСТ 3128-70</td>
          </tr>
          <tr>
            <td class="cell">
              <div class="gallery">
                <img src="@img/schema.jpg" alt="image" />
              </div>
            </td>
            <td class="cell">Штифт конический незакаленный</td>
            <td class="cell"><a href="#">DIN 1</a></td>
            <td class="cell"><a href="#">ГОСТ 3129-70</a></td>
            <td class="cell"><a href="#">ГОСТ 3129-70</a></td>
          </tr>
          <tr>
            <td class="cell">
              <div class="gallery">
                <img src="@img/schema.jpg" alt="image" />
              </div>
            </td>
            <td class="cell">Штифт цилиндрический незакаленный</td>
            <td class="cell"><a href="#">DIN 2</a></td>
            <td class="cell">ГОСТ 3128-70</td>
            <td class="cell">ГОСТ 3128-70</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="btn _light section-encyclopedia__btn-more">Показать ещё</div>
    <div class="content section-encyclopedia__content">
      <p>
        ГОСТ (государственный стандарт) – один из основных стандартов в СССР,
        межгосударственный стандарт в СНГ.
      </p>

      <p>ГОСТ Р – государственный стандарт Российской Федерации.</p>

      <p>
        ГОСТ Р ИСО – стандарт Российской Федерации, основанный на международном
        стандарте ISO. Как правило, номера стандартов совпадают.
      </p>

      <p>
        DIN (Deutsches Institut für Normung – немецкий институт по
        стандартизации) – государственный стандарт Германии.
      </p>

      <p>
        EN (EuroNorm) – европейский стандарт, принятый Европейским комитетом по
        стандартизации CEN (European Committee for Standardization).
      </p>

      <p>
        ISO (International Organization for Standardization) – международная
        организация по стандартизации. Основной стандарт, к унификации с которым
        стремится большинство национальных стандартов.
      </p>

      <p>
        EN ISO – европейский вариант стандарта ISO без изменений. Номера по
        стандартам EN и ISO идентичны
      </p>

      <p>
        DIN EN – немецкий вариант европейского стандарта EN без каких- либо
        изменений.
      </p>

      <p>
        DIN ISO – стандарт ISO принятый в Германии как национальный без
        каких-либо изменений.
      </p>

      <p>
        DIN EN ISO – немецкий вариант, совместно разработанный ISO
        (Международная организация по стандартизации) и CEN (Европейский комитет
        по стандартизации), принятый Германией как национальный без каких-либо
        изменений.
      </p>
    </div>
  </div>
</section>
