<section class="section-margin section-certificates">
  <div class="container">
    <div class="section-head">
      <h2 class="section-title">Сертификаты</h2>
    </div>
    <div class="swiper section-certificates__slider">
      <div class="swiper-wrapper">
        <a href="@img/certificate.jpg" data-fancybox="certificates" class="swiper-slide section-certificates__slide">
          <img src="@img/certificate.jpg" alt="image">
        </a>
        <a href="@img/certificate.jpg" data-fancybox="certificates" class="swiper-slide section-certificates__slide">
          <img src="@img/certificate.jpg" alt="image">
        </a>
        <a href="@img/certificate.jpg" data-fancybox="certificates" class="swiper-slide section-certificates__slide">
          <img src="@img/certificate.jpg" alt="image">
        </a>
        <a href="@img/certificate.jpg" data-fancybox="certificates" class="swiper-slide section-certificates__slide">
          <img src="@img/certificate.jpg" alt="image">
        </a>
        <a href="@img/certificate.jpg" data-fancybox="certificates" class="swiper-slide section-certificates__slide">
          <img src="@img/certificate.jpg" alt="image">
        </a>
        <a href="@img/certificate.jpg" data-fancybox="certificates" class="swiper-slide section-certificates__slide">
          <img src="@img/certificate.jpg" alt="image">
        </a>
        <a href="@img/certificate.jpg" data-fancybox="certificates" class="swiper-slide section-certificates__slide">
          <img src="@img/certificate.jpg" alt="image">
        </a>
        <a href="@img/certificate.jpg" data-fancybox="certificates" class="swiper-slide section-certificates__slide">
          <img src="@img/certificate.jpg" alt="image">
        </a>
        <a href="@img/certificate.jpg" data-fancybox="certificates" class="swiper-slide section-certificates__slide">
          <img src="@img/certificate.jpg" alt="image">
        </a>
      </div>
    </div>
  </div>
</section>