<section class="section-single section-margin">
  <div class="container">
    <div class="section-head">
      <h2 class="section-title">Окрашивание</h2>
    </div>
    <div class="section-single__wrapper">
      <div class="section-single__info">
        <div class="content">
          <p>
            Самым популярном методом окрашивания крепежей и других метизов
            является порошковая окраска. Это современный метод в технологии
            покрытия, обеспечивающий требуемые защитные свойства. По сравнению с
            другими покрытиями, защищающими от коррозии, порошковая краска имеет
            низкую себестоимость.
          </p>
          <p>Покраска метизов состоит из следующих шагов:</p>
          <p>
            Сначала изделие очищается от всех загрязнений, после чего тщательно
            сушится. В окрасочной камере краска наносится распылителем на
            изделие. После чего в камере полимеризации краска на окрашенных
            метизах оплавляется и закрепляется под воздействием высокой
            температуры. Потом изделие охлаждается и складируется.
          </p>
        </div>
        <div class="section-single__grid">
          <div class="section-single__grid-item">
            <h3 class="third-title section-single__grid-item-title">
              Стоимость покраски крепежа
            </h3>
            <ul class="list section-single__grid-item-list">
              <li>
                <span>Минимальная стоимость заказа</span>
                <span>3000 руб</span>
              </li>
              <li>
                <span>Минимальная партия</span>
                <span>от 100 штук</span>
              </li>
            </ul>
          </div>
          <div class="section-single__grid-item">
            <h3 class="third-title section-single__grid-item-title">
              Сроки покраски крепежа
            </h3>
            <ul class="list section-single__grid-item-list">
              <li>
                <span>Обычный срок покрытия</span>
                <span>от 2-х дней</span>
              </li>
              <li>
                <span>Экспресс</span>
                <span>1-2 дня</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <a
        href="@img/single.jpg"
        data-da=".section-single__info, 767, 1"
        data-fancybox
        class="section-single__gallery"
      >
        <img src="@img/single.jpg" alt="image" />
      </a>
    </div>
  </div>
</section>
