<section class="section-connect section-margin">
  <div class="container">
    <div class="section-head section-connect__head">
      <h2 class="section-title">Подача заявки</h2>
    </div>
    <p class="section-connect__head-content">
      “Компания Крепко” производит и реализует рым-болты в различном исполнении.
      Для оформления заказа воспользуйтесь функционалом интернет-магазина либо
      помощью консультантов.
    </p>
    <div class="section-connect__body">
      <div class="section-connect__main">
        <h2 class="section-title section-connect__main-title">
          Оставить заявку
        </h2>
        <p class="section-connect__content">
          Оставьте свои контактные данные и комментарий. Менеджер свяжется с
          вами в рабочее время и обсудит Ваш вопрос.
        </p>
        <div class="section-connect__guarantee">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-shield"></use>
          </svg>
          <span>Мы гарантируем безопасность и сохранность ваших данных</span>
        </div>
      </div>
      <form action="#" class="section-connect__form">
        <div class="input-control">
          <input type="text" placeholder="Имя" class="input _white" />
        </div>
        <div class="input-control">
          <input type="tel" placeholder="Телефон" class="input _white" />
          <input type="email" placeholder="Email" class="input _white" />
        </div>
        <div class="input-control">
          <textarea rows="7" class="input _white _scrollbar"></textarea>
        </div>
        <div class="input-control">
          <input type="file" class="input-file" id="connect-file" />
          <label for="connect-file" class="btn-file _white">
            <svg class="icon">
              <use xlink:href="img/icons/icons.svg#icon-paper"></use>
            </svg>
            <span class="name">Прикрепить файл</span>
            <div class="file-close _hide">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-close"></use>
              </svg>
            </div>
          </label>
          <button data-da=".section-connect__form, 767" type="submit" class="btn _dark section-connect__form-send">Отправить</button>
        </div>
        <p class="section-connect__form-policy">
          Нажимая на кнопку “Отправить” Вы соглашаетесь с
          <a href="#" target="_blank">политикой конфиденциальности</a>
          и
          <a href="#" target="_blank">персональной обработки данных</a>
          .
        </p>
      </form>
    </div>
  </div>
</section>
