<section class="section-hero">
  <div class="container">
    <div class="swiper section-hero__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide section-hero__slide">
          <div class="section-hero__slide-container">
            <picture class="section-hero__slide-picture">
              <source
                srcset="@img/hero-desk-mob.jpg"
                media="(max-width: 575px)"
              />
              <source
                srcset="@img/hero-desk-laptop.jpg"
                media="(max-width: 1024px)"
              />
              <img src="@img/hero-desk.jpg" alt="image" />
            </picture>
            <div class="section-hero__slide-title">
              Нержавеющая уверенность для вашего проекта
            </div>
            <a href="#" class="btn section-hero__slide-btn">Оформить заказ</a>
          </div>
        </div>
        <div class="swiper-slide section-hero__slide">
          <div class="section-hero__slide-container">
            <picture class="section-hero__slide-picture">
              <source
                srcset="@img/hero-desk-mob.jpg"
                media="(max-width: 575px)"
              />
              <source
                srcset="@img/hero-desk-laptop.jpg"
                media="(max-width: 1024px)"
              />
              <img src="@img/hero-desk-3.jpg" alt="image" />
            </picture>
            <div class="section-hero__slide-title">
              Крепёж для тех,
              <br />
              кто ценит каждую деталь
            </div>
            <a href="#" class="btn section-hero__slide-btn">Оформить заказ</a>
          </div>
        </div>
        <div class="swiper-slide section-hero__slide _dark-color">
          <div class="section-hero__slide-container">
            <picture class="section-hero__slide-picture">
              <source
                srcset="@img/hero-desk-mob.jpg"
                media="(max-width: 575px)"
              />
              <source
                srcset="@img/hero-desk-laptop.jpg"
                media="(max-width: 1024px)"
              />
              <img src="@img/hero-desk-4.jpg" alt="image" />
            </picture>
            <div class="section-hero__slide-title">
              Порошковая покраска
              <br />
              крепежа в RAL CLASSIC
            </div>
            <a href="#" class="btn section-hero__slide-btn">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide section-hero__slide">
          <div class="section-hero__slide-container">
            <picture class="section-hero__slide-picture">
              <source
                srcset="@img/hero-desk-mob.jpg"
                media="(max-width: 575px)"
              />
              <source
                srcset="@img/hero-desk-laptop.jpg"
                media="(max-width: 1024px)"
              />
              <img src="@img/hero-desk-5.jpg" alt="image" />
            </picture>
            <div class="section-hero__slide-title">
            Бесплатная доставка
              <br />
              собственным транспортом
            </div>
            <a href="#" class="btn section-hero__slide-btn">Оформить заказ</a>
          </div>
        </div>
      </div>
      <div class="section-hero__slider-pagination"></div>
    </div>
  </div>
</section>
