<section class="section-margin section-jobs">
  <div class="container">
    <div class="section-jobs__wrapper">
      <div class="section-jobs__info">
        <div class="content">
          <h2>О нас</h2>
          <p>
            Мы — современная компания, которая работает на рынке уже более 20
            лет и успешно реализует проекты федерального уровня. Сегодня в нашей
            команде трудятся специалисты разных направлений, объединённые одной
            целью — создавать надёжные решения и развивать отрасль.
          </p>

          <h3>Почему стоит работать с нами</h3>

          <ul>
            <li>Мы ценим людей и создаём комфортные условия для работы.</li>
            <li>
              У нас есть всё для профессионального роста: обучение,
              наставничество, новые проекты.
            </li>
            <li>
              Мы предлагаем официальное трудоустройство, прозрачные условия и
              стабильность.
            </li>
            <li>Для нас важна командная работа, уважение и доверие.</li>
          </ul>

          <h3>Что мы ищем</h3>
          <p>
            Мы приглашаем в команду тех, кто готов развиваться, брать на себя
            ответственность и добиваться результатов вместе с нами.
          </p>
        </div>
        <div class="section-jobs__grid">
          <div class="section-jobs__item">
            <div class="section-title section-jobs__item-title">
              Менеджер по продажам (без поиска клиентов)
            </div>
            <div class="section-jobs__item-head">
              <p class="section-jobs__item-salary">от 120 000 ₽ за месяц, на руки</p>
              <div class="section-jobs__item-tag">Опыт 1–3 года</div>
            </div>
            <ul class="list section-jobs__item-list">
              <li>Полная занятость, полный день</li>
              <li>
                Место работы:
                <strong>Москва. Офис</strong>
              </li>
            </ul>
            <div class="section-jobs__item-bottom">
              <a
                href="#modal-job"
                data-job-btn="Менеджер по продажам (без поиска клиентов)"
                data-fancybox
                class="btn section-jobs__item-btn"
              >
                Откликнуться
              </a>
              <time datetime="21.09.2025" class="section-jobs__item-date">
                21.09.2025
              </time>
            </div>
          </div>
          <div class="section-jobs__item">
            <div class="section-title section-jobs__item-title">
              Менеджер по продажам (удалённо)
            </div>
            <div class="section-jobs__item-head">
              <p class="section-jobs__item-salary">от 120 000 ₽ за месяц, на руки</p>
              <div class="section-jobs__item-tag">Опыт 1–3 года</div>
            </div>
            <ul class="list section-jobs__item-list">
              <li>Полная занятость, полный день</li>
              <li>
                Место работы:
                <strong>Москва. Офис</strong>
              </li>
            </ul>
            <div class="section-jobs__item-bottom">
              <a
                href="#modal-job"
                data-job-btn="Менеджер по продажам (удалённо)"
                data-fancybox
                class="btn section-jobs__item-btn"
              >
                Откликнуться
              </a>
              <time datetime="21.09.2025" class="section-jobs__item-date">
                21.09.2025
              </time>
            </div>
          </div>
          <div class="section-jobs__item">
            <div class="section-title section-jobs__item-title">
              Менеджер по снабжению
            </div>
            <div class="section-jobs__item-head">
              <p class="section-jobs__item-salary">от 60 000 ₽ оклад + премия</p>
              <div class="section-jobs__item-tag">Опыт 1–3 года</div>
            </div>
            <ul class="list section-jobs__item-list">
              <li>Полная занятость, полный день</li>
              <li>
                Место работы:
                <strong>Тверь. Коминтерна, 71</strong>
              </li>
            </ul>

            <div class="section-jobs__item-bottom">
              <a
                href="#modal-job"
                data-job-btn="Менеджер по снабжению"
                data-fancybox
                class="btn section-jobs__item-btn"
              >
                Откликнуться
              </a>
              <time datetime="21.09.2025" class="section-jobs__item-date">
                21.09.2025
              </time>
            </div>
          </div>
          <div class="section-jobs__item">
            <div class="section-title section-jobs__item-title">
              Кладовщик-комплектовщик
            </div>
            <div class="section-jobs__item-head">
              <p class="section-jobs__item-salary">от 50 000 ₽ за месяц, на руки</p>
              <div class="section-jobs__item-tag">Опыт не требуется</div>
            </div>
            <ul class="list section-jobs__item-list">
              <li>Полная занятость, сменный график</li>
              <li>
                Место работы:
                <strong>Тверь. Вагжанова, 7А</strong>
              </li>
            </ul>
            <div class="section-jobs__item-bottom">
              <a
                href="#modal-job"
                data-job-btn="Кладовщик-комплектовщик"
                data-fancybox
                class="btn section-jobs__item-btn"
              >
                Откликнуться
              </a>
              <time datetime="21.09.2025" class="section-jobs__item-date">
                21.09.2025
              </time>
            </div>
          </div>
        </div>
      </div>
      <div class="section-jobs__reklam">
        <div class="section-jobs__reklam-body">
          <div class="third-title section-jobs__reklam-title">
            Стабильная работа ждёт тебя
          </div>
          <p class="content-big section-jobs__reklam-content">
            Ищем талантливых сотрудников!
            <br />
            Отправь резюме и стань частью нашей команды
          </p>
        </div>
        <picture class="section-jobs__reklam-picture">
          <source srcset="@img/jobs-reklam-mob.png" media="(max-width: 1023px)">
          <img src="@img/jobs-reklam.png" alt="image" />
        </picture>
      </div>
    </div>
  </div>
</section>
