<section class="section-recommendation section-margin">
  <div class="container">
    <div class="section-head">
      <div class="section-title">@@title</div>
    </div>
    <div class="swiper section-recommendation__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide section-recommendation__slide">
          <div class="card-product">
            <div class="card-product__top">
              <div class="card-product__id">RB-М30</div>
              <div class="card-product__tag">хит</div>
            </div>
            <a href="#" class="swiper card-product__slider">
              <div class="card-product__slide-switches">
                <div class="card-product__slide-switch"></div>
                <div class="card-product__slide-switch"></div>
                <div class="card-product__slide-switch"></div>
              </div>
              <div class="swiper-wrapper">
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
              </div>
            </a>
            <div class="card-product__slider-pagination"></div>
            <a href="#" class="card-product__title">
              Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
              кл.пр.8.8 цинк
            </a>
            <div class="card-product__price">
              <strong>34.47 ₽</strong>
              / шт
            </div>
            <div class="card-product__footer">
              <form action="#" class="card-product__counter">
                <div class="card-product__counter-btn _minus">-</div>
                <input
                  type="number"
                  value="1"
                  
                  max="100"
                  class="card-product__counter-input"
                />
                <div class="card-product__counter-btn _plus">+</div>
              </form>
              <button class="btn card-product__cart-btn">В корзину</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide section-recommendation__slide">
          <div class="card-product">
            <div class="card-product__top">
              <div class="card-product__id">RB-М30</div>
              <div class="card-product__tag">хит</div>
            </div>
            <a href="#" class="swiper card-product__slider">
              <div class="card-product__slide-switches">
                <div class="card-product__slide-switch"></div>
                <div class="card-product__slide-switch"></div>
                <div class="card-product__slide-switch"></div>
              </div>
              <div class="swiper-wrapper">
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
              </div>
            </a>
            <div class="card-product__slider-pagination"></div>
            <a href="#" class="card-product__title">
              Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
              кл.пр.8.8 цинк
            </a>
            <div class="card-product__price">
              <strong>34.47 ₽</strong>
              / шт
            </div>
            <div class="card-product__footer">
              <form action="#" class="card-product__counter">
                <div class="card-product__counter-btn _minus">-</div>
                <input
                  type="number"
                  value="1"
                  
                  max="100"
                  class="card-product__counter-input"
                />
                <div class="card-product__counter-btn _plus">+</div>
              </form>
              <button class="btn card-product__cart-btn">В корзину</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide section-recommendation__slide">
          <div class="card-product">
            <div class="card-product__top">
              <div class="card-product__id">RB-М30</div>
              <div class="card-product__tag">хит</div>
            </div>
            <a href="#" class="swiper card-product__slider">
              <div class="card-product__slide-switches">
                <div class="card-product__slide-switch"></div>
                <div class="card-product__slide-switch"></div>
                <div class="card-product__slide-switch"></div>
              </div>
              <div class="swiper-wrapper">
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
              </div>
            </a>
            <div class="card-product__slider-pagination"></div>
            <a href="#" class="card-product__title">
              Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
              кл.пр.8.8 цинк
            </a>
            <div class="card-product__price">
              <strong>34.47 ₽</strong>
              / шт
            </div>
            <div class="card-product__footer">
              <form action="#" class="card-product__counter">
                <div class="card-product__counter-btn _minus">-</div>
                <input
                  type="number"
                  value="1"
                  
                  max="100"
                  class="card-product__counter-input"
                />
                <div class="card-product__counter-btn _plus">+</div>
              </form>
              <button class="btn card-product__cart-btn">В корзину</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide section-recommendation__slide">
          <div class="card-product">
            <div class="card-product__top">
              <div class="card-product__id">RB-М30</div>
              <div class="card-product__tag">хит</div>
            </div>
            <a href="#" class="swiper card-product__slider">
              <div class="card-product__slide-switches">
                <div class="card-product__slide-switch"></div>
                <div class="card-product__slide-switch"></div>
                <div class="card-product__slide-switch"></div>
              </div>
              <div class="swiper-wrapper">
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
              </div>
            </a>
            <div class="card-product__slider-pagination"></div>
            <a href="#" class="card-product__title">
              Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
              кл.пр.8.8 цинк
            </a>
            <div class="card-product__price">
              <strong>34.47 ₽</strong>
              / шт
            </div>
            <div class="card-product__footer">
              <form action="#" class="card-product__counter">
                <div class="card-product__counter-btn _minus">-</div>
                <input
                  type="number"
                  value="1"
                  
                  max="100"
                  class="card-product__counter-input"
                />
                <div class="card-product__counter-btn _plus">+</div>
              </form>
              <button class="btn card-product__cart-btn">В корзину</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide section-recommendation__slide">
          <div class="card-product">
            <div class="card-product__top">
              <div class="card-product__id">RB-М30</div>
              <div class="card-product__tag">хит</div>
            </div>
            <a href="#" class="swiper card-product__slider">
              <div class="card-product__slide-switches">
                <div class="card-product__slide-switch"></div>
                <div class="card-product__slide-switch"></div>
                <div class="card-product__slide-switch"></div>
              </div>
              <div class="swiper-wrapper">
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
              </div>
            </a>
            <div class="card-product__slider-pagination"></div>
            <a href="#" class="card-product__title">
              Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
              кл.пр.8.8 цинк
            </a>
            <div class="card-product__price">
              <strong>34.47 ₽</strong>
              / шт
            </div>
            <div class="card-product__footer">
              <form action="#" class="card-product__counter">
                <div class="card-product__counter-btn _minus">-</div>
                <input
                  type="number"
                  value="1"
                  
                  max="100"
                  class="card-product__counter-input"
                />
                <div class="card-product__counter-btn _plus">+</div>
              </form>
              <button class="btn card-product__cart-btn">В корзину</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide section-recommendation__slide">
          <div class="card-product">
            <div class="card-product__top">
              <div class="card-product__id">RB-М30</div>
              <div class="card-product__tag">хит</div>
            </div>
            <a href="#" class="swiper card-product__slider">
              <div class="card-product__slide-switches">
                <div class="card-product__slide-switch"></div>
                <div class="card-product__slide-switch"></div>
                <div class="card-product__slide-switch"></div>
              </div>
              <div class="swiper-wrapper">
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
              </div>
            </a>
            <div class="card-product__slider-pagination"></div>
            <a href="#" class="card-product__title">
              Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
              кл.пр.8.8 цинк
            </a>
            <div class="card-product__price">
              <strong>34.47 ₽</strong>
              / шт
            </div>
            <div class="card-product__footer">
              <form action="#" class="card-product__counter">
                <div class="card-product__counter-btn _minus">-</div>
                <input
                  type="number"
                  value="1"
                  
                  max="100"
                  class="card-product__counter-input"
                />
                <div class="card-product__counter-btn _plus">+</div>
              </form>
              <button class="btn card-product__cart-btn">В корзину</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide section-recommendation__slide">
          <div class="card-product">
            <div class="card-product__top">
              <div class="card-product__id">RB-М30</div>
              <div class="card-product__tag">хит</div>
            </div>
            <a href="#" class="swiper card-product__slider">
              <div class="card-product__slide-switches">
                <div class="card-product__slide-switch"></div>
                <div class="card-product__slide-switch"></div>
                <div class="card-product__slide-switch"></div>
              </div>
              <div class="swiper-wrapper">
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
              </div>
            </a>
            <div class="card-product__slider-pagination"></div>
            <a href="#" class="card-product__title">
              Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
              кл.пр.8.8 цинк
            </a>
            <div class="card-product__price">
              <strong>34.47 ₽</strong>
              / шт
            </div>
            <div class="card-product__footer">
              <form action="#" class="card-product__counter">
                <div class="card-product__counter-btn _minus">-</div>
                <input
                  type="number"
                  value="1"
                  
                  max="100"
                  class="card-product__counter-input"
                />
                <div class="card-product__counter-btn _plus">+</div>
              </form>
              <button class="btn card-product__cart-btn">В корзину</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide section-recommendation__slide">
          <div class="card-product">
            <div class="card-product__top">
              <div class="card-product__id">RB-М30</div>
              <div class="card-product__tag">хит</div>
            </div>
            <a href="#" class="swiper card-product__slider">
              <div class="card-product__slide-switches">
                <div class="card-product__slide-switch"></div>
                <div class="card-product__slide-switch"></div>
                <div class="card-product__slide-switch"></div>
              </div>
              <div class="swiper-wrapper">
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
                <div class="swiper-slide card-product__slide">
                  <img src="@img/product.png" alt="image" />
                </div>
              </div>
            </a>
            <div class="card-product__slider-pagination"></div>
            <a href="#" class="card-product__title">
              Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
              кл.пр.8.8 цинк
            </a>
            <div class="card-product__price">
              <strong>34.47 ₽</strong>
              / шт
            </div>
            <div class="card-product__footer">
              <form action="#" class="card-product__counter">
                <div class="card-product__counter-btn _minus">-</div>
                <input
                  type="number"
                  value="1"
                  
                  max="100"
                  class="card-product__counter-input"
                />
                <div class="card-product__counter-btn _plus">+</div>
              </form>
              <button class="btn card-product__cart-btn">В корзину</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
