<section class="section-margin section-reviews">
  <div class="container tabs">
    <div class="section-head">
      <h2 class="section-title">Все отзывы</h2>
      <a
        href="#modal-review"
        data-fancybox
        class="btn section-reviews__head-btn _outline"
      >
        Оставить отзыв
      </a>
      <a href="#" class="btn-mob">
        <span>Все</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-next"></use>
        </svg>
      </a>
    </div>
    <div class="tabs-nav section-reviews__nav">
      <div data-tab-btn="tab-1" class="section-reviews__nav-btn _active">
        Все отзывы
      </div>
      <div data-tab-btn="tab-2" class="section-reviews__nav-btn">
        Благодарственные письма
      </div>
      <div data-tab-btn="tab-3" class="section-reviews__nav-btn">
        WhatsApp отзывы
      </div>
      <div data-tab-btn="tab-4" class="section-reviews__nav-btn">
        Яндекс отзывы
      </div>
    </div>
    <div class="tabs-content">
      <div data-tab="tab-1" class="_active _show">
        <div class="section-reviews__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide section-reviews__slide">
              <div class="section-reviews__slide-body">
                <div class="section-reviews__slide-head">
                  <div class="section-reviews__stars">
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                  </div>
                  <img
                    src="@img/review-logo.svg"
                    alt="logo"
                    class="section-reviews__slide-logo"
                  />
                </div>
                <p class="section-reviews__slide-content">
                  Очень довольна магазином, работники внимательны и всё
                  подскажут и вместе с помощником я приобрету всё что мне нужно,
                  в магазине всё есть, а если нету можно заказать, так же есть
                  чистый туалет при необходимости, так как я инвалид. Коллектив
                  сплочённый и могут ответить и посоветовать за любой
                  инструмент. Магазин очень большой и просторный. Спасибо
                </p>
              </div>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <div class="section-reviews__slide-body">
                <div class="section-reviews__slide-head">
                  <div class="section-reviews__stars">
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                  </div>
                  <img
                    src="@img/review-logo.svg"
                    alt="logo"
                    class="section-reviews__slide-logo"
                  />
                </div>
                <p class="section-reviews__slide-content">
                  Очень довольна магазином, работники внимательны и всё
                  подскажут и вместе с помощником я приобрету всё что мне нужно,
                  в магазине всё есть, а если нету можно заказать, так же есть
                  чистый туалет при необходимости, так как я инвалид. Коллектив
                  сплочённый и могут ответить и посоветовать за любой
                  инструмент. Магазин очень большой и просторный. Спасибо
                </p>
              </div>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <div class="section-reviews__slide-body">
                <div class="section-reviews__slide-head">
                  <div class="section-reviews__stars">
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                  </div>
                  <img
                    src="@img/review-logo.svg"
                    alt="logo"
                    class="section-reviews__slide-logo"
                  />
                </div>
                <p class="section-reviews__slide-content">
                  Очень довольна магазином, работники внимательны и всё
                  подскажут и вместе с помощником я приобрету всё что мне нужно,
                  в магазине всё есть, а если нету можно заказать, так же есть
                  чистый туалет при необходимости, так как я инвалид. Коллектив
                  сплочённый и могут ответить и посоветовать за любой
                  инструмент. Магазин очень большой и просторный. Спасибо
                </p>
              </div>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <div class="section-reviews__slide-body">
                <div class="section-reviews__slide-head">
                  <div class="section-reviews__stars">
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                  </div>
                  <img
                    src="@img/review-logo.svg"
                    alt="logo"
                    class="section-reviews__slide-logo"
                  />
                </div>
                <p class="section-reviews__slide-content">
                  Очень довольна магазином, работники внимательны и всё
                  подскажут и вместе с помощником я приобрету всё что мне нужно,
                  в магазине всё есть, а если нету можно заказать, так же есть
                  чистый туалет при необходимости, так как я инвалид. Коллектив
                  сплочённый и могут ответить и посоветовать за любой
                  инструмент. Магазин очень большой и просторный. Спасибо
                </p>
              </div>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <div class="section-reviews__slide-body">
                <div class="section-reviews__slide-head">
                  <div class="section-reviews__stars">
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                  </div>
                  <img
                    src="@img/review-logo.svg"
                    alt="logo"
                    class="section-reviews__slide-logo"
                  />
                </div>
                <p class="section-reviews__slide-content">
                  Очень довольна магазином, работники внимательны и всё
                  подскажут и вместе с помощником я приобрету всё что мне нужно,
                  в магазине всё есть, а если нету можно заказать, так же есть
                  чистый туалет при необходимости, так как я инвалид. Коллектив
                  сплочённый и могут ответить и посоветовать за любой
                  инструмент. Магазин очень большой и просторный. Спасибо
                </p>
              </div>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <div class="section-reviews__slide-body">
                <div class="section-reviews__slide-head">
                  <div class="section-reviews__stars">
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star _active">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                    <svg class="star">
                      <use xlink:href="img/icons/icons.svg#icon-star"></use>
                    </svg>
                  </div>
                  <img
                    src="@img/review-logo.svg"
                    alt="logo"
                    class="section-reviews__slide-logo"
                  />
                </div>
                <p class="section-reviews__slide-content">
                  Очень довольна магазином, работники внимательны и всё
                  подскажут и вместе с помощником я приобрету всё что мне нужно,
                  в магазине всё есть, а если нету можно заказать, так же есть
                  чистый туалет при необходимости, так как я инвалид. Коллектив
                  сплочённый и могут ответить и посоветовать за любой
                  инструмент. Магазин очень большой и просторный. Спасибо
                </p>
              </div>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-tab="tab-2">
        <div class="section-reviews__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/letter.jpg"
                data-fancybox="reviews-letters"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/letter.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/letter.jpg"
                data-fancybox="reviews-letters"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/letter.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/letter.jpg"
                data-fancybox="reviews-letters"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/letter.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/letter.jpg"
                data-fancybox="reviews-letters"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/letter.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/letter.jpg"
                data-fancybox="reviews-letters"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/letter.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/letter.jpg"
                data-fancybox="reviews-letters"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/letter.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-tab="tab-3">
        <div class="section-reviews__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/wh-review.jpg"
                data-fancybox="reviews-whats"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/wh-review.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/wh-review.jpg"
                data-fancybox="reviews-whats"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/wh-review.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/wh-review.jpg"
                data-fancybox="reviews-whats"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/wh-review.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/wh-review.jpg"
                data-fancybox="reviews-whats"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/wh-review.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/wh-review.jpg"
                data-fancybox="reviews-whats"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/wh-review.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/wh-review.jpg"
                data-fancybox="reviews-whats"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/wh-review.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/wh-review.jpg"
                data-fancybox="reviews-whats"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/wh-review.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-tab="tab-4">
        <div class="section-reviews__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/letter.jpg"
                data-fancybox="reviews-letters"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/letter.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/letter.jpg"
                data-fancybox="reviews-letters"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/letter.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/letter.jpg"
                data-fancybox="reviews-letters"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/letter.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/letter.jpg"
                data-fancybox="reviews-letters"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/letter.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/letter.jpg"
                data-fancybox="reviews-letters"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/letter.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide section-reviews__slide">
              <a
                href="@img/letter.jpg"
                data-fancybox="reviews-letters"
                class="section-reviews__slide-gallery"
              >
                <img src="@img/letter.jpg" alt="image" />
              </a>
              <div class="section-reviews__slide-author">
                <img
                  src="@img/production-card.jpg"
                  alt=""
                  class="section-reviews__author-avatar"
                />
                <div>
                  <div class="section-reviews__author-head">
                    <h6 class="section-reviews__author-title">Аня Отсевич</h6>
                    <div class="section-reviews__author-date">7 мая 2025</div>
                  </div>
                  <p class="section-reviews__author-content">
                    Руководитель отдела снабжения
                    <br />
                    ООО “СТРОЙРОС”
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
