<section class="section-search section-margin">
  <div class="container">
    <h1 class="main-title section-search__title">
      По результату поиска: 
      <span>«анкер»</span>
    </h1>
    <div class="section-search__info-search">
      Найдено:
      <span>500 совпадений</span>
      в категориях:
    </div>
    <div class="section-search__grid">
      <a href="#" class="card-search">
        <h5 class="card-search__title">Анкер болт с гайкой</h5>
        <div class="card-search__count">181 товар</div>
        <img
          src="@img/search-product.png"
          alt="image"
          class="card-search__img"
        />
      </a>
      <a href="#" class="card-search">
        <h5 class="card-search__title">Анкер болт БСР самоанкерующийся</h5>
        <div class="card-search__count">181 товар</div>
        <img
          src="@img/search-product.png"
          alt="image"
          class="card-search__img"
        />
      </a>
      <a href="#" class="card-search">
        <h5 class="card-search__title">Анкер болт с гайкой</h5>
        <div class="card-search__count">181 товар</div>
        <img
          src="@img/search-product.png"
          alt="image"
          class="card-search__img"
        />
      </a>
      <a href="#" class="card-search">
        <h5 class="card-search__title">Анкер болт БСР самоанкерующийся</h5>
        <div class="card-search__count">181 товар</div>
        <img
          src="@img/search-product.png"
          alt="image"
          class="card-search__img"
        />
      </a>
      <a href="#" class="card-search">
        <h5 class="card-search__title">Анкер болт с гайкой</h5>
        <div class="card-search__count">181 товар</div>
        <img
          src="@img/search-product.png"
          alt="image"
          class="card-search__img"
        />
      </a>
      <a href="#" class="card-search">
        <h5 class="card-search__title">Анкер болт БСР самоанкерующийся</h5>
        <div class="card-search__count">181 товар</div>
        <img
          src="@img/search-product.png"
          alt="image"
          class="card-search__img"
        />
      </a>
      <a href="#" class="card-search">
        <h5 class="card-search__title">Анкер болт с гайкой</h5>
        <div class="card-search__count">181 товар</div>
        <img
          src="@img/search-product.png"
          alt="image"
          class="card-search__img"
        />
      </a>
      <a href="#" class="card-search">
        <h5 class="card-search__title">Анкер болт БСР самоанкерующийся</h5>
        <div class="card-search__count">181 товар</div>
        <img
          src="@img/search-product.png"
          alt="image"
          class="card-search__img"
        />
      </a>
      <a href="#" class="card-search">
        <h5 class="card-search__title">Анкер болт с гайкой</h5>
        <div class="card-search__count">181 товар</div>
        <img
          src="@img/search-product.png"
          alt="image"
          class="card-search__img"
        />
      </a>
      <a href="#" class="card-search">
        <h5 class="card-search__title">Анкер болт БСР самоанкерующийся</h5>
        <div class="card-search__count">181 товар</div>
        <img
          src="@img/search-product.png"
          alt="image"
          class="card-search__img"
        />
      </a>
      <a href="#" class="card-search">
        <h5 class="card-search__title">Анкер болт с гайкой</h5>
        <div class="card-search__count">181 товар</div>
        <img
          src="@img/search-product.png"
          alt="image"
          class="card-search__img"
        />
      </a>
      <a href="#" class="card-search">
        <h5 class="card-search__title">Анкер болт БСР самоанкерующийся</h5>
        <div class="card-search__count">181 товар</div>
        <img
          src="@img/search-product.png"
          alt="image"
          class="card-search__img"
        />
      </a>
    </div>
    <div class="section-search__main">
      <div class="section-shop__main-head">
        <div class="section-shop__sort-item">
          <div class="select section-shop__orderby-select">
            <div class="select-btn">
              <input
                type="text"
                class="input select-input"
                placeholder="Cортировать"
                readonly
                data-readonly="true"
              />
              <svg class="icon">
                <use xlink:href="img/icons/icons.svg#icon-sort"></use>
              </svg>
              <svg class="arrow">
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </div>
            <div class="select-body">
              <div class="select-item" data-value="Дорогие">Дорогие</div>
              <div class="select-item" data-value="Дешёвые">Дешёвые</div>
              <div class="select-item" data-value="Популярные">Популярные</div>
              <div class="select-item" data-value="Новые">Новые</div>
            </div>
          </div>
        </div>
        <div class="section-shop__sort-item">
          <div class="section-shop__sort-content">Показать по:</div>
          <div class="select section-shop__number-select">
            <div class="select-btn">
              <input
                type="number"
                value="24"
                class="input select-input"
                placeholder="Cортировать"
                readonly
                data-readonly="true"
              />
              <svg class="arrow">
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </div>
            <div class="select-body">
              <div class="select-item _active" data-value="12">12</div>
              <div class="select-item" data-value="14">14</div>
              <div class="select-item" data-value="15">15</div>
              <div class="select-item" data-value="16">16</div>
            </div>
          </div>
        </div>
        <div class="section-shop__view-nav">
          <a href="#" class="section-shop__view-btn _grid _active">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-grid"></use>
            </svg>
          </a>
          <a href="#" class="section-shop__view-btn _list">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-list"></use>
            </svg>
          </a>
          <a href="#" class="section-shop__view-btn _list-full">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-list-full"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="section-shop__grid-big">
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag _green">новинка</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag">хит</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price _disabled">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <button class="card-product__order-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-timer"></use>
              </svg>
              <span>Заказать</span>
            </button>
            <div class="card-product__time-info">от 1 рабочего дня</div>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag _red">новинка</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price _red">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag _green">новинка</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag">хит</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price _disabled">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <button class="card-product__order-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-timer"></use>
              </svg>
              <span>Заказать</span>
            </button>
            <div class="card-product__time-info">от 1 рабочего дня</div>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag _red">новинка</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price _red">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag _green">новинка</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag">хит</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price _disabled">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <button class="card-product__order-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-timer"></use>
              </svg>
              <span>Заказать</span>
            </button>
            <div class="card-product__time-info">от 1 рабочего дня</div>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag _red">новинка</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price _red">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag _green">новинка</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag">хит</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price _disabled">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <button class="card-product__order-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-timer"></use>
              </svg>
              <span>Заказать</span>
            </button>
            <div class="card-product__time-info">от 1 рабочего дня</div>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag _red">новинка</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price _red">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag _green">новинка</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag">хит</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price _disabled">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <button class="card-product__order-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-timer"></use>
              </svg>
              <span>Заказать</span>
            </button>
            <div class="card-product__time-info">от 1 рабочего дня</div>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag _red">новинка</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price _red">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag _green">новинка</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag">хит</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price _disabled">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <button class="card-product__order-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-timer"></use>
              </svg>
              <span>Заказать</span>
            </button>
            <div class="card-product__time-info">от 1 рабочего дня</div>
          </div>
        </div>
        <div class="card-product">
          <div class="card-product__top">
            <div class="card-product__id">RB-М30</div>
            <div class="card-product__tag _red">новинка</div>
          </div>
          <a href="#" class="swiper card-product__slider">
            <div class="card-product__slide-switches">
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
              <div class="card-product__slide-switch"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
              <div class="swiper-slide card-product__slide">
                <img src="@img/product.png" alt="image" />
              </div>
            </div>
          </a>
          <div class="card-product__slider-pagination"></div>
          <a href="#" class="card-product__title">
            Болт в/проч. DIN 933 (ГОСТ 7798-70, 7805-70) полная резьба М12*200
            кл.пр.8.8 цинк
          </a>
          <div class="card-product__price _red">
            <strong>34.47 ₽</strong>
            / шт
          </div>
          <div class="card-product__footer">
            <form action="#" class="card-product__counter">
              <div class="card-product__counter-btn _minus">-</div>
              <input
                type="number"
                value="1"
                
                max="100"
                class="card-product__counter-input"
              />
              <div class="card-product__counter-btn _plus">+</div>
            </form>
            <button class="btn card-product__cart-btn">В корзину</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
