<section class="section-portfolio section-margin">
  <div class="container">
    <div class="section-head">
      <h2 class="section-title">Фото работ</h2>
    </div>
    <div class="swiper section-portfolio__slider">
      <div class="swiper-wrapper">
        <a href="@img/portfolio.jpg" data-fancybox="portfolio" class="swiper-slide section-portfolio__slide">
          <img src="@img/portfolio.jpg" alt="image">
        </a>
        <a href="@img/portfolio.jpg" data-fancybox="portfolio" class="swiper-slide section-portfolio__slide">
          <img src="@img/portfolio.jpg" alt="image">
        </a>
        <a href="@img/portfolio.jpg" data-fancybox="portfolio" class="swiper-slide section-portfolio__slide">
          <img src="@img/portfolio.jpg" alt="image">
        </a>
        <a href="@img/portfolio.jpg" data-fancybox="portfolio" class="swiper-slide section-portfolio__slide">
          <img src="@img/portfolio.jpg" alt="image">
        </a>
        <a href="@img/portfolio.jpg" data-fancybox="portfolio" class="swiper-slide section-portfolio__slide">
          <img src="@img/portfolio.jpg" alt="image">
        </a>
        <a href="@img/portfolio.jpg" data-fancybox="portfolio" class="swiper-slide section-portfolio__slide">
          <img src="@img/portfolio.jpg" alt="image">
        </a>
        <a href="@img/portfolio.jpg" data-fancybox="portfolio" class="swiper-slide section-portfolio__slide">
          <img src="@img/portfolio.jpg" alt="image">
        </a>
      </div>
    </div>
  </div>
</section>