<section class="section-banner">
  <div class="container">
    <div class="swiper section-banner__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide section-banner__slide">
          <picture class="section-banner__slide-bg">
            <source srcset="@img/banner-mob.jpg" media="(max-width: 575px)" />
            <img src="@img/banner.jpg" alt="image" />
          </picture>
          <div class="section-banner__slide-body">
            <h2 class="section-banner__slide-title">Сделано в России</h2>
            <p class="section-banner__slide-content">
              Производитель анкерного крепежа GRAF
            </p>
          </div>
        </div>
        <div class="swiper-slide section-banner__slide">
          <picture class="section-banner__slide-bg">
            <source srcset="@img/banner-mob.jpg" media="(max-width: 575px)" />
            <img src="@img/banner.jpg" alt="image" />
          </picture>
          <div class="section-banner__slide-body">
            <h2 class="section-banner__slide-title">Сделано в России 2</h2>
            <p class="section-banner__slide-content">
              Производитель анкерного крепежа GRAF
            </p>
          </div>
        </div>
        <div class="swiper-slide section-banner__slide">
          <picture class="section-banner__slide-bg">
            <source srcset="@img/banner-mob.jpg" media="(max-width: 575px)" />
            <img src="@img/banner.jpg" alt="image" />
          </picture>
          <div class="section-banner__slide-body">
            <h2 class="section-banner__slide-title">Сделано в России 3</h2>
            <p class="section-banner__slide-content">
              Производитель анкерного крепежа GRAF
            </p>
          </div>
        </div>
        <div class="swiper-slide section-banner__slide">
          <picture class="section-banner__slide-bg">
            <source srcset="@img/banner-mob.jpg" media="(max-width: 575px)" />
            <img src="@img/banner.jpg" alt="image" />
          </picture>
          <div class="section-banner__slide-body">
            <h2 class="section-banner__slide-title">Сделано в России 4</h2>
            <p class="section-banner__slide-content">
              Производитель анкерного крепежа GRAF
            </p>
          </div>
        </div>
        <div class="swiper-slide section-banner__slide">
          <picture class="section-banner__slide-bg">
            <source srcset="@img/banner-mob.jpg" media="(max-width: 575px)" />
            <img src="@img/banner.jpg" alt="image" />
          </picture>
          <div class="section-banner__slide-body">
            <h2 class="section-banner__slide-title">Сделано в России 5</h2>
            <p class="section-banner__slide-content">
              Производитель анкерного крепежа GRAF
            </p>
          </div>
        </div>
      </div>
      <div class="slider-pagination section-banner__slider-pagination"></div>
    </div>
  </div>
</section>
