<section class="section-shipping section-margin">
  <div class="container tabs">
    <div class="section-head">
      <h2 class="section-title">Доставка и самовывоз</h2>
    </div>
    <div class="tabs-nav section-shipping__nav">
      <div data-tab-btn="tab-1" class="btn-tab _active">Москва и МО</div>
      <div data-tab-btn="tab-2" class="btn-tab">Тверь</div>
      <div data-tab-btn="tab-3" class="btn-tab">Доставка по России</div>
    </div>
    <div class="tabs-content">
      <div class="_active _show">
        <div class="section-shipping__head">
          
        </div>
      </div>
    </div>
  </div>
</section>