<section class="section-trust section-margin">
  <div class="container">
    <div class="section-head">
      <h2 class="section-title">Нам доверяют</h2>
      <a href="#modal-call" data-fancybox class="btn _outline">
        Связаться с нами
      </a>
      <a href="#modal-call" data-fancybox class="btn-mob">
        <span>Связаться с нами</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-next"></use>
        </svg>
      </a>
    </div>
    <div class="swiper section-trust__slider">
      <div class="swiper-wrapper">
        <a href="#" target="_blank" class="swiper-slide section-trust__slide">
          <img src="@img/trust.jpg" alt="logo" />
        </a>
        <a href="#" target="_blank" class="swiper-slide section-trust__slide">
          <img src="@img/trust.jpg" alt="logo" />
        </a>
        <a href="#" target="_blank" class="swiper-slide section-trust__slide">
          <img src="@img/trust.jpg" alt="logo" />
        </a>
        <a href="#" target="_blank" class="swiper-slide section-trust__slide">
          <img src="@img/trust.jpg" alt="logo" />
        </a>
        <a href="#" target="_blank" class="swiper-slide section-trust__slide">
          <img src="@img/trust.jpg" alt="logo" />
        </a>
        <a href="#" target="_blank" class="swiper-slide section-trust__slide">
          <img src="@img/trust.jpg" alt="logo" />
        </a>
        <a href="#" target="_blank" class="swiper-slide section-trust__slide">
          <img src="@img/trust.jpg" alt="logo" />
        </a>
        <a href="#" target="_blank" class="swiper-slide section-trust__slide">
          <img src="@img/trust.jpg" alt="logo" />
        </a>
        <a href="#" target="_blank" class="swiper-slide section-trust__slide">
          <img src="@img/trust.jpg" alt="logo" />
        </a>
      </div>
    </div>
  </div>
</section>
