<section class="section-cart section-margin">
  <div class="container">
    <h1 class="main-title section-cart__title">Мой заказ</h1>
    <div class="section-cart__warn">
      <p class="section-cart__warn-content">Не упустите распродажу <span>1 товар скоро подорожает</span></p>
      <div class="tag _red">осталось 9 дней</div>
    </div>
    <div class="section-cart__wrapper">
      <div class="section-cart__main">
        <div class="section-cart__main">
          <input type="checkbox" id="select-all" class="input-checkbox">
          <label for="select-all" class="label-checkbox">
            <span>Выделить все</span>
          </label>
          <button class="section-cart__delete-all">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-close'></use>
            </svg>
            <span>Удалить выбранные</span>
          </button>
        </div>
      </div>
      <div class="section-cart__sidebar">

      </div>
    </div>
  </div>
</section>