<section class="section-popular section-margin">
  <div class="container tabs">
    <div class="section-head">
      <h2 class="section-title">Популярные категории</h2>
      <a href="#" class="btn section-popular__btn _outline">Все категории</a>
    </div>
    <div class="section-popular__nav tabs-nav">
      <div data-tab-btn="tab-1" class="section-popular__nav-btn _active">
        Болты
      </div>
      <div data-tab-btn="tab-2" class="section-popular__nav-btn">Винты</div>
      <div data-tab-btn="tab-3" class="section-popular__nav-btn">Гайки</div>
      <div data-tab-btn="tab-4" class="section-popular__nav-btn">
        Саморезы конструкционные
      </div>
      <div data-tab-btn="tab-5" class="section-popular__nav-btn">Шайбы</div>
      <div data-tab-btn="tab-6" class="section-popular__nav-btn">Шпильки</div>
    </div>
    <div class="tabs-content">
      <div data-tab="tab-1" class="_active _show">
        <div class="section-popular__grid">
          <a href="#" class="card-category">
            <h5 class="card-category__title">Болты DIN 933</h5>
            <div class="card-category__count">1 298 товаров</div>
            <div class="card-category__bottom">
              <img src="@img/pin.png" alt="image" class="card-category__img" />
              <div class="card-category__circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="card-category">
            <h5 class="card-category__title">Болты DIN 933</h5>
            <div class="card-category__count">1 298 товаров</div>
            <div class="card-category__bottom">
              <img src="@img/pin.png" alt="image" class="card-category__img" />
              <div class="card-category__circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="card-category">
            <h5 class="card-category__title">Болты DIN 933</h5>
            <div class="card-category__count">1 298 товаров</div>
            <div class="card-category__bottom">
              <img src="@img/pin.png" alt="image" class="card-category__img" />
              <div class="card-category__circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="card-category">
            <h5 class="card-category__title">Болты DIN 933</h5>
            <div class="card-category__count">1 298 товаров</div>
            <div class="card-category__bottom">
              <img src="@img/pin.png" alt="image" class="card-category__img" />
              <div class="card-category__circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="card-category">
            <h5 class="card-category__title">Болты DIN 933</h5>
            <div class="card-category__count">1 298 товаров</div>
            <div class="card-category__bottom">
              <img src="@img/pin.png" alt="image" class="card-category__img" />
              <div class="card-category__circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="card-category">
            <h5 class="card-category__title">Болты DIN 933</h5>
            <div class="card-category__count">1 298 товаров</div>
            <div class="card-category__bottom">
              <img src="@img/pin.png" alt="image" class="card-category__img" />
              <div class="card-category__circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="card-category">
            <h5 class="card-category__title">Болты DIN 933</h5>
            <div class="card-category__count">1 298 товаров</div>
            <div class="card-category__bottom">
              <img src="@img/pin.png" alt="image" class="card-category__img" />
              <div class="card-category__circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="card-category">
            <h5 class="card-category__title">Болты DIN 933</h5>
            <div class="card-category__count">1 298 товаров</div>
            <div class="card-category__bottom">
              <img src="@img/pin.png" alt="image" class="card-category__img" />
              <div class="card-category__circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="card-category">
            <h5 class="card-category__title">Болты DIN 933</h5>
            <div class="card-category__count">1 298 товаров</div>
            <div class="card-category__bottom">
              <img src="@img/pin.png" alt="image" class="card-category__img" />
              <div class="card-category__circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="card-category">
            <h5 class="card-category__title">Болты DIN 933</h5>
            <div class="card-category__count">1 298 товаров</div>
            <div class="card-category__bottom">
              <img src="@img/pin.png" alt="image" class="card-category__img" />
              <div class="card-category__circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="card-category">
            <h5 class="card-category__title">Болты DIN 933</h5>
            <div class="card-category__count">1 298 товаров</div>
            <div class="card-category__bottom">
              <img src="@img/pin.png" alt="image" class="card-category__img" />
              <div class="card-category__circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="card-category _givry">
            <h5 class="card-category__title">Все товары этого раздела</h5>
            <div class="card-category__bottom">
              <div class="card-category__circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-top"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
