.btn {
  @include flex-center;
  cursor: pointer;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  padding: 17px 20px;
  border-radius: 10px;
  width: fit-content;
  user-select: none;

  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 81%;
  color: white;

  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;

  @include hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
  }

  &._outline {
    background-color: transparent;
    color: var(--dark);

    @include hover {
      border: 1px solid var(--primary);
      background-color: var(--primary);
      color: white;
    }
  }
  &._dark {
    border-color: var(--dark);
    background-color: var(--dark);
    color: white;
    @include hover {
      background-color: black;
      border-color: black;
      color: white;
    }
  }
}

.btn-mob {
  @include flex-center;
  gap: 2px;
  border: none;
  outline: none;
  width: fit-content;
  background-color: rgba(237, 110, 0, 0.2);
  padding: 8px 10px;
  border-radius: 8px;

  font-weight: 600;
  font-size: 10px;
  line-height: 100%;
  color: var(--primary);

  transition:
    color 0.3s ease,
    background-color 0.3s ease;

  @include hover {
    background-color: var(--primary);
    color: white;
  }

  @media (min-width: 575px) {
    display: none;
  }

  svg {
    display: block;
    width: 10px;
    height: 10px;
  }
}

.btn-item {
  display: block;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: var(--wild);

  font-size: 16px;

  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  @include hover {
    color: white;
    background-color: var(--primary);
  }
  @include laptop-min {
    font-size: 15px;
  }
}

.btn-play {
  @include flex-center;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);

  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition:
    color 0.3s ease,
    background-color 0.3s ease;

  z-index: 10;

  @include hover {
    background-color: black;
  }

  svg {
    width: 22px;
    height: 22px;
  }
}

.btn-prev {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 14px;
  line-height: 100%;
  color: var(--primary);

  @include hover {
    svg {
      transform: translateX(-5px);
    }
  }

  svg {
    width: 20px;
    height: 10px;
    transition: transform 0.3s ease;
  }
}

.btn-tab {
  cursor: pointer;
  padding: 14px 20px;
  border-radius: 10px;
  flex-shrink: 0;

  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  white-space: nowrap;

  transition:
    color 0.3s ease,
    background-color 0.3s ease;

  &._active {
    pointer-events: none;
    color: var(--primary);
    background-color: var(--wild);
  }

  @include hover {
    color: var(--primary);
    background-color: var(--wild);
  }

  @include tablet {
    font-size: 16px;
  }
  @include tablet-min {
    font-size: 12px;
    border-radius: 6px;
    padding: 6px 12px;
  }
}

.btn-tag {
  padding: 5px 10px;
  display: block;
  background-color: var(--wild);
  border-radius: 5px;

  font-size: 16px;

  transition: background-color 0.3s ease;

  @include hover {
    background-color: rgba(235, 110, 3, 0.1);
  }

  @include tablet {
    font-size: 15px;
  }

  &._active {
    background-color: rgba(235, 110, 3, 0.1);
    pointer-events: none;
  }
}

.btn-more {
  margin: 0 auto 20px auto;
  @media (min-width: 575px) {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
    color: var(--primary);
    @include hover {
      background-color: var(--primary);
      border-color: var(--primary);
      color: white;
    }
  }
  @include tablet-min {
    width: 100%;
  }
}
