.btn {
  @include flex-center;
  cursor: pointer;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  padding: 17px 20px;
  border-radius: 10px;
  width: fit-content;
  user-select: none;

  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 81%;
  color: white;

  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;

  @include hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
  }

  &._outline {
    background-color: transparent;
    color: var(--dark);

    @include hover {
      border: 1px solid var(--primary);
      background-color: var(--primary);
      color: white;
    }
  }
  &._dark {
    border-color: var(--dark);
    background-color: var(--dark);
    color: white;
    @include hover {
      background-color: black;
      border-color: black;
      color: white;
    }
  }
}

.btn-mob {
  @include flex-center;
  gap: 2px;
  border: none;
  outline: none;
  width: fit-content;
  background-color: rgba(237, 110, 0, 0.2);
  padding: 8px 10px;
  border-radius: 8px;

  font-weight: 600;
  font-size: 10px;
  line-height: 100%;
  color: var(--primary);

  transition:
    color 0.3s ease,
    background-color 0.3s ease;

  @include hover {
    background-color: var(--primary);
    color: white;
  }

  @media (min-width: 575px) {
    display: none;
  }

  svg {
    display: block;
    width: 10px;
    height: 10px;
  }
}

.btn-item {
  display: block;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: var(--wild);

  font-size: 16px;

  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  @include hover {
    color: white;
    background-color: var(--primary);
  }
  @include laptop-min {
    font-size: 15px;
  }
}
