.card-product-full {
  display: flex;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  gap: 50px;
  @include laptop {
    gap: 25px;
  }
  &__slider-wrapper {
    position: relative;
    width: 100px;
    .card-product__slider {
      width: 100%;
      @include laptop-min {
        height: 100px !important;
      }
    }
  }
  &__gallery {
    display: block;
    border-radius: 15px;
    overflow: hidden;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
  }
  &__body {
    flex: 0 1 570px;
  }
  .card-product__title {
    margin: 0px 0px 10px 0px;
  }
  .card-product__id {
    margin-bottom: 10px;
  }
  &__price {
    flex-shrink: 0;
  }
  &__price-value {
    font-weight: 800;
    font-size: 16px;
    line-height: 175%;
  }
  &__price-content {
    font-size: 12px;
    line-height: 200%;
    color: var(--dusty);
  }
  &__nav {
    display: flex;
    gap: 20px;
    align-self: start;

    .card-product__counter {
      align-self: start;
    }

    @include laptop-middle {
      width: 150px;
      flex-shrink: 0;
      flex-direction: column;
      gap: 10px;

      .card-product__counter,
      .btn {
        flex: none;
        width: 100%;
      }
    }
  }
  &__order {
    width: 120px;
    @include laptop-middle {
      width: 100%;
    }
  }
  &__order-btn {
    @include laptop-middle {
      width: 100%;
    }
  }
  &__time-info {
    font-size: 14px;
    color: var(--dusty);
    margin-top: 15px;
    @include laptop-min {
      align-self: start;
    }
    @include tablet-min {
      display: none;
    }
  }
}
