.card-category {
  display: flex;
  flex-direction: column;
  padding: 19px;
  border-radius: 15px;
  aspect-ratio: 1/1;
  border: 1px solid var(--wild);
  background-color: var(--wild);
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;

  @include tablet-min {
    padding: 10px;
    border-radius: 10px;
    aspect-ratio: 1/0.85;
  }

  &._zumthor {
    background-color: var(--zumthor);
    border-color: var(--zumthor);
  }
  &._serenade {
    background-color: var(--serenade);
    border-color: var(--serenade);
  }
  &._white {
    background-color: white;
    border-color: white;
  }
  &._apricot {
    background-color: var(--apricot);
    border-color: var(--apricot);
  }
  &._givry {
    background-color: var(--givry);
    border-color: var(--givry);
  }

  @include hover {
    border-color: var(--primary);
    .card-category__img {
      transform: scale(1.1);
    }
    .card-category__circle {
      background-color: var(--primary);
      color: white;
      transform: rotate(90deg);
    }
  }
  &__title {
    // font-weight: 800;
    font-weight: 700;
    font-size: 16px;
    margin: 0px 0px 5px 0px;
    @include tablet {
      font-size: 14px;
      @include overflowText(2);
    }
  }
  &__count {
    font-size: 12px;
    color: var(--dusty);
    margin-bottom: 30px;
    @include tablet-min {
      margin-bottom: 25px;
    }
  }
  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
    gap: 20px;
  }
  &__img {
    display: block;
    width: 100px;

    transition: transform 0.3s ease;

    @include tablet-min {
      width: 40px;
    }
  }
  &__circle {
    @include flex-center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: var(--alto);
    background-color: white;
    flex-shrink: 0;
    margin-left: auto;

    transition:
      color 0.3s ease,
      transform 0.3s ease,
      background-color 0.3s ease;

    @include tablet-min {
      display: none;
    }

    svg {
      width: 12px;
      height: 12px;
    }
  }
}
