.content {
  font-weight: 400;
  font-size: 16px;

  @include tablet {
    font-size: 15px;
  }

  p {
    margin: 1rem 0;
    &:first-child {
      margin-top: 0 !important;
    }
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
  ul,
  ol {
    padding-left: 30px;
    margin: 1rem 0;
  }
  h1 {
    font-weight: 900;
    font-size: 40px;
    margin: 0;

    @include tablet {
      font-size: 26px;
    }
    &:not(:first-child) {
      margin-top: 30px;
      @include tablet {
        margin-top: 20px;
      }
    }
  }
  h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;
    margin: 0px 0px 30px 0px;

    @include tablet {
      font-size: 22px;
      margin-bottom: 20px;
    }

    &:not(:first-child) {
      margin-top: 30px;
      @include tablet {
        margin-top: 20px;
      }
    }
  }
  h3 {
    font-weight: 900;
    font-size: 24px;
    margin: 30px 0px;

    @include tablet {
      font-size: 18px;
      margin: 20px 0px;
    }
  }

  a {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: var(--primary);
    @include hover {
      text-decoration: none;
    }
  }
  strong {
    font-weight: 900;
  }
}

.content-big {
  font-size: 20px;
  @include laptop-min {
    font-size: 18px;
  }
  @include tablet {
    font-size: 16px;
  }

  p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 20px;
      @include tablet {
        margin-bottom: 16px;
      }
    }
  }

  strong {
    font-weight: 900;
  }

  ul {
    margin: 0;
    padding-left: 30px;

    @include tablet {
      padding-left: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
      @include tablet {
        margin-bottom: 16px;
      }
    }
  }
}
