.dropdown {
  position: relative;

  @include hover {
    .dropdown-body {
      opacity: 1;
      visibility: visible;
    }
  }
  &._open {
    .dropdown-body {
      opacity: 1;
      visibility: visible;
    }
    .dropdown-btn {
      .arrow {
        transform: rotate(180deg);
      }
    }
  }

  &-body {
    position: absolute;
    right: 0;
    padding-top: 5px;
    // overflow: hidden;

    visibility: hidden;
    opacity: 0;

    z-index: 10;

    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
  }
  &-inside {
    width: fit-content;
    padding: 15px;

    border-radius: 12px;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      font-size: 16px;
      white-space: nowrap;
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
}
