.input-control {
  width: 100%;

  &._scrollbar {
    border: 1px solid var(--silver);
    border-radius: 10px;
    overflow: hidden;

    transition: border-color 0.3s ease;

    &._border-primary {
      border-color: var(--primary) !important;
    }

    textarea {
      height: 100%;
    }

    .input {
      border: none;
    }
  }
}
.input {
  outline: none;
  width: 100%;
  padding: 13px 20px;
  border: 1px solid var(--silver);
  border-radius: 10px;

  color: var(--dark);
  font-size: 16px;
  line-height: 81%;

  transition:
    border-color 0.3s ease,
    border-radius 0.3s ease;

  &:focus {
    border-color: var(--primary);
  }

  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &._white {
    border-color: white;
  }
  &._wild {
    background-color: var(--wild);
    // color: black;

    &::placeholder {
      color: var(--dark);
    }
  }
}
textarea.input {
  resize: none;

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 2px solid white;
    margin: 2px;
  }
}

.input-file {
  display: none;
}
.btn-file {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 20px;
  width: 100%;
  border: 1px dashed #333;
  background-color: var(--wild);
  border-radius: 10px;
  color: #181d29;

  transition: background-color 0.3s ease;
  &._white {
    background-color: white;
  }
  &._primary {
    background-color: white;
    border-color: var(--primary);
  }

  @include hover {
    background-color: var(--primary-light);
  }

  .icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }
  .name {
    font-size: 16px;
    line-height: 81%;
    flex: 1;
  }
  .file-close {
    width: 10px;
    height: 10px;
    color: var(--silver);

    transition: color 0.3s ease;

    @include hover {
      color: var(--red);
    }

    &._hide {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.input-checkbox {
  display: none;

  &:checked + .label-checkbox {
    &::before {
      background: url('@img/check-white.svg') center / 12px auto no-repeat;
      background-color: var(--primary);
      border-color: var(--primary);
    }
  }
}
.label-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  flex-shrink: 0;

  user-select: none;
  font-size: 16px;
  line-height: 87%;

  @include tablet {
    font-size: 15px;
  }

  &::before {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 2px;
    flex-shrink: 0;
    border: 1px solid var(--alto);

    transition: border-color .3s ease, background-color .3s ease;
  }
}
