.section-margin {
  margin: 60px 0px;
  @include tablet {
    margin: 30px 0px;
  }
}
.section-head {
  @include flex-between;
  gap: 30px;
  row-gap: 15px;
  margin-bottom: 30px;
  
  @include tablet-min {
    margin-bottom: 15px;
  }

  .btn {
    flex-shrink: 0;
    @include tablet-min {
      display: none;
    }
  }
  .btn-mob {
    flex-shrink: 0;
  }
}