.burger-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  inset: 0;

  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  
  z-index: 100;

  &._active {
    opacity: 1;
    visibility: visible;
  }
}
[data-burger-menu] {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;

  &._active {
    display: block;
  }
}
.burger {
  position: fixed;
  overflow-y: auto;
  left: 0;
  top: 0;
  right: 0;
  max-height: calc(100vh - 30px);
  border-radius: 0 0 20px 20px;
  background-color: var(--alabaster);
  z-index: 150;

  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);

  transition:
    opacity 0.4s ease,
    visibility 0.4s ease,
    transform 0.4s ease;

  &._open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  &__window {
    transition: opacity 0.4s ease;
  }
  &__container {
    padding: 20px;
  }
  &__head {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;

    margin-bottom: 20px;

  }
  &__head-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
  }
  &__dropdown {
    .dropdown-body {
      min-width: 130px;
    }
    .dropdown-inside {
      width: 100%;
    }
  }
  &__dropdown-btn {
    display: flex;
    align-items: center;

    &._active {
      .arrow {
        transform: rotate(180deg);
      }
    }

    .icon {
      width: 20px;
      height: 20px;
      color: var(--primary);
      margin-right: 8px;
    }
    .arrow {
      width: 10px;
      height: 10px;
      margin-left: 5px;

      transition: transform 0.3s ease;
    }
  }
  &__close {
    @include flex-center;
    width: 25px;
    height: 25px;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }

    svg {
      width: 10px;
      height: 10px;
    }
  }
  &__list {
    margin-bottom: 25px;
    li {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 10px 0px;
      border-bottom: 1px solid var(--alto);

      font-weight: 600;
      font-size: 15px;
      line-height: 120%;

      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }

      img {
        display: block;
        width: 16px;
      }
      svg {
        width: 10px;
        height: 10px;
        margin-left: auto;
      }
    }
  }
  &__primary-btn {
    padding: 10px 0px;
    display: block;
    width: 100%;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);

    font-weight: 600;
    font-size: 15px;
    line-height: 120%;

    transition: color 0.3s ease;

    @include hover {
      color: var(--primary);
    }
  }
  &__menu {
    margin-top: 25px;
  }
  &__menu-item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  &__menu-title {
    font-weight: 900;
    font-size: 15px;
    line-height: 120%;
    padding-bottom: 10px;

    border-bottom: 1px solid var(--alto);
  }
  &__menu-list {
    .button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0px;
      border-bottom: 1px solid var(--alto);

      font-weight: 600;
      font-size: 15px;
      line-height: 120%;

      &._spoller-active {
        svg {
          transform: rotate(180deg);
        }
      }

      svg {
        width: 10px;
        height: 10px;

        transition: transform 0.3s ease;
      }
    }
  }
  &__address {
    display: flex;
    align-items: center;
    gap: 7px;
    margin: 10px 0px;

    font-size: 15px;
    line-height: 93%;

    svg {
      width: 17px;
      height: 25px;
      color: var(--primary);
      flex-shrink: 0;
    }
  }
  &__mail {
    display: block;
    width: fit-content;
    font-size: 15px;
    line-height: 133%;
    margin-bottom: 10px;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
  }
  &__tel {
    display: block;
    width: fit-content;
    font-weight: 900;
    font-size: 16px;
    line-height: 125%;
  }
  &__footer {
    @include flex-between;
    gap: 20px;
    margin-top: 25px;
  }
  &__social {
    display: flex;
    display: flex;
    gap: 12px;
  }
  &__social-btn {
    width: 30px;
    height: 30px;
    display: block;

    transition: color 0.3s ease;

    @include hover {
      color: var(--primary);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__connect-btn {
    padding: 8px 25px;
    border-radius: 5px;

    font-size: 12px;
    line-height: 108%;
  }
  &__back {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 12px;
    line-height: 120%;

    transition: color .3s ease;
    @include hover {
      color: var(--primary);
    }

    svg {
      width: 10px;
      height: 10px;
    }
  }
}
