.drop-catalog {
  position: fixed;
  max-width: calc(100% - 60px);
  width: 1500px;
  top: 145px;
  left: 50%;
  transform: translateX(-50%);
  height: 840px;
  max-height: calc(100vh - 290px);

  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.4s ease,
    visibility 0.4s ease;

  z-index: 50;

  &._open {
    opacity: 1;
    visibility: visible;
  }

  &__inside {
    display: flex;
    align-items: start;
    overflow: hidden;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    background-color: white;
    border-radius: 20px;

    height: 100%;
    width: 100%;
  }

  &__menu {
    height: 100%;
    width: 455px;
    overflow-y: auto;
    background-color: var(--wild);

    @include laptop {
      width: 425px;
    }
    @include laptop-middle {
      width: 320px;
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 9px;
    }
  }
  &__menu-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--wild);
    padding: 16px 35px;
    width: 100%;

    font-weight: 700;
    font-size: 20px;
    line-height: 120%;

    transition: background-color 0.3s ease;

    @include hover {
      background-color: #fff;

      &::before,
      &::after {
        opacity: 1;
      }
    }
    @include laptop {
      font-size: 18px;
      padding: 16px;
    }
    @include laptop-middle {
      font-size: 16px;
    }
    &._active {
      background-color: #fff;

      &::before,
      &::after {
        opacity: 1;
      }
    }

    &:first-child {
      &::before {
        display: none;
      }
    }
    &:last-child {
      &::after {
        display: none;
      }
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      background-color: white;
      right: 0;
      opacity: 0;

      z-index: 10;

      transition: opacity 0.3s ease;
    }
    &::before {
      top: 0;
      transform: translateY(-100%);
      background: url("@img/corner-top.svg") 0 0 / 100% no-repeat;
    }
    &::after {
      bottom: 0;
      transform: translateY(100%);
      background: url("@img/corner-bottom.svg") 0 0 / 100% no-repeat;
    }

    img, svg {
      display: block;
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      fill: currentColor;
    }
  }
  &__body {
    padding: 15px 5px 15px 0px;
    height: 100%;
    flex: 1;
    background-color: white;
  }
  &__body-container {
    height: 100%;
    overflow-y: auto;
    padding-right: 40px;
    @include laptop-middle {
      padding-right: 20px;
    }
  }
  &__container {
    padding-left: 40px;
    @include laptop {
      padding-left: 20px;
    }
  }
  &__wrapper {
    display: flex;
    align-items: start;
    gap: 70px;
    row-gap: 20px;
    padding-bottom: 40px;
    width: 100%;
    border-bottom: 2px solid var(--alto);
    @include desktop {
      gap: 30px;
      row-gap: 20px;
    }
    @include laptop {
      gap: 20px;
    }
  }
  &__nav {
    display: flex;
    flex: 1;
    gap: 70px;
    row-gap: 20px;
    @include desktop {
      gap: 30px;
      row-gap: 20px;
    }
    @include laptop {
      gap: 20px;
    }
  }
  &__nav-item {
    flex: 1;
    // width: 260px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include laptop {
      // width: 205px;
    }
  }
  &__item {
    a {
      font-size: 16px;
      line-height: 120%;

      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
        text-decoration: underline;
      }
      @include laptop-middle {
        font-size: 14px;
      }
    }
  }
  &__reklam {
    position: sticky;
    top: 0;
    display: flex;
    align-items: flex-end;
    width: 260px;
    border-radius: 10px;
    padding: 20px 10px;
    min-height: 145px;
    height: fit-content;

    @include laptop {
      width: 205px;
    }
  }
  &__reklam-tag {
    padding: 4px 5px;
    border-radius: 5px;
    background: #e4fdec;
    width: fit-content;

    font-size: 12px;
    color: #10c44d;
    margin-bottom: 7px;
  }
  &__reklam-title {
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;
  }
  &__banner {
    position: relative;
    width: 260px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--wild);
    z-index: 1;
    @include laptop-middle {
      width: 240px;
      padding: 15px;
    }
  }
  &__banner-title {
    margin-bottom: 14px;
    @media (min-width: 1540px) {
      font-size: 25px;
    }
  }
  &__banner-content {
    font-size: 16px;
    margin: 0px 0px 20px 0px;
  }
  &__banner-social {
    display: flex;
    gap: 12px;
  }
  &__banner-social-btn {
    display: block;
    width: 30px;
    height: 30px;
    color: var(--primary);
    transition: color 0.3s ease;
    @include hover {
      color: var(--dark);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__banner-contacts {
    font-size: 16px;
    color: var(--primary);
    margin: 15px 0px 30px 0px;

    a {
      display: block;
      width: fit-content;
      font-weight: 600;
      font-size: 18px;
      color: var(--dark);

      transition: color .3s ease;

      @include hover {
        color: var(--primary);
      }
    }
  }
  &__banner-btn {
  }
  &__banner-img {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  &__tags {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
  }
  &__tags-item {
    padding: 10px 0px;
  }
  &__tags-item-title {
    font-weight: 900;
    font-size: 16px;
    margin: 0px 0px 20px 0px;
  }
  &__tags-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    a {
      display: block;
      font-size: 16px;
      border-radius: 5px;
      padding: 5px 10px;
      background-color: var(--wild);

      transition:
        background-color 0.3s ease,
        color 0.3s ease;

      @include hover {
        background-color: var(--primary);
        color: white;
      }
    }
  }
}

[data-drop-menu] {
  display: none;
  opacity: 0;

  transition: opacity 0.3s ease;

  &._active {
    display: block;
  }
}
