.modal {
  border-radius: 20px;
  display: none;
  width: 500px;
  max-width: calc(100% - 20px);
  padding: 40px;

  @include tablet-min {
    padding: 40px 15px 20px 15px;
    border-radius: 12px;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    transition: color 0.3s ease;

    @include hover {
      color: var(--primary);
    }
    @include tablet-min {
      top: 15px;
      right: 15px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__body {
    width: 100%;
  }
  &__title {
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    margin: 0px 0px 20px 0px;
    @include tablet-min {
      font-size: 28px;
    }
  }
  &__content {
    font-weight: 600;
    font-size: 18px;
    text-align: center;

    margin: 0px 0px 40px 0px;
    @include tablet-min {
      font-size: 16px;
      margin-bottom: 25px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  &__form-policy {
    text-align: center;
    margin: 0;

    font-size: 16px;
    line-height: 125%;
    color: var(--silver);

    a {
      text-decoration: underline;
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
  &__form-send {
    width: 100%;
  }
}

.modal-delete {
  @media (min-width: 992px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .modal__content {
    font-weight: 400;
  }
  &__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    @include tablet-min {
      grid-template-columns: 1fr;
    }
  }
  &__btn {
    width: 100%;
  }
}
